// global
@use "fonts.scss";
@use "root-colors.scss";
@use "root-ks.scss";

// element-plus
@use "element-plus.scss";

// bootstrap reboot only
@import "variables.scss";

$prefix: 'kbs-';
@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables.scss";
@import "bootstrap/scss/maps";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/root";
@import "bootstrap/scss/reboot.scss";

// global
html, body {
    height: 100%;
    background: var(--ks-background-body);
    color: var(--ks-content-primary);
    margin: 0;
}
