body{
    /* neutral */
    --white: #ffffff;
    --black: #26282D;
    --gray-50: #FAFAFF;
    --gray-100: #F5F5FF;
    --gray-200: #f0f0ff;
    --gray-300: #E5E4F7;
    --gray-400: #D1CFE9;
    --gray-500: #B8B6D9;
    --gray-600: #A6A4CA;
    --gray-700: #9A8EB4;
    --gray-800: #7E719F;
    --gray-900: #564A75;
}