Thumbs.db
.DS_Store
.gradle
build/
target/
out/
.idea
*.iml
*.ipr
*.iws
.project
.settings
.classpath
.attach*
docker-compose.override.yml
cli/src/main/resources/application-override.yml
*/src/test/resources/application-test.yml
local

#Js
node_modules
.env
yarn-error.log
