### Java
Thumbs.db
.DS_Store
.gradle
build/
target/
out/
.idea
.vscode
*.iml
*.ipr
*.iws
.project
.settings
.classpath
.attach*

### Configurations
docker-compose.override.yml
cli/src/main/resources/application-override.yml
*/src/test/resources/application-test.yml
/local

### Javascript
node
node_modules
yarn-error.log
yarn.lock
ui/node_modules
ui/.env.local
ui/.env.*.local
webserver/src/main/resources/ui
yarn.lock

### Docker
/.env
docker-compose*.overide.yml

### Build
core/src/main/resources/gradle.properties