modules = ["java-graalvm22.3", "vue-node-20", "nodejs-20", "java-21"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Frontend"

[[workflows.workflow]]
name = "Frontend"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd ui && npm run dev"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"
