@import "styles/variable";

body {
    min-width: 320px;
}

body,
html,
.container {
    height: 100% !important;
}

#nprogress {
    .bar {
        background: $yellow;
    }

    .spinner {
        top: 8px;
        right: 8px;
    }

    .peg {
        box-shadow: 0 0 10px $yellow, 0 0 5px $yellow;
    }

    .spinner-icon {
        border-top-color: $yellow;
        border-left-color: $yellow;
    }
}

.content-wrapper {
    padding-top: 15px;
    padding-bottom: 60px !important;

    &.menu-collapsed {
        transition: all 0.3s ease;
        padding-left: 50px;
    }

    &.menu-not-collapsed {
        transition: all 0.3s;
        padding-left: $menu-width;
    }
}

.accordion {
    &.card {
        button {
            border: 0;
            font-weight: bold;
            color: $gray-600;
        }
    }
    &.card:not(:last-child) {
        margin-top: 0;
        border-bottom: 0;
    }
    .card-body {
        padding: $spacer/2;
    }
    ul {
        padding-left: 0;
        list-style: none;

        a {
            color: $gray-600;
            padding-left: $spacer;
        }
        ul {
            margin-bottom: $spacer / 2;
        }
    }
}

code[class*="language-"], pre[class*="language-"] {
    font-size: $font-size-sm !important;
    font-family: $font-family-monospace !important;
    text-shadow: none !important;
    line-height: 1.2 !important;
}

.executions-charts {
    position: relative;
    > div {
        height: 100px;
    }

    &.mini {
        > div {
            height: 50px;
            width: 250px
        }
    }
}

.tooltip-stats {
    font-size: $font-size-xs;
    .tooltip-inner {
        text-align: left;
    }

    h6 {
        font-weight: bold;
        font-size: $font-size-xs;
    }

    span.square {
        border: 1px solid;
        display: inline-block;
        width: 10px;
        height: 10px;
        margin-right: 5px;
    }
}
