@import "styles/variable";

@import '~bootstrap/scss/bootstrap';
@import 'styles/yeti';
@import 'styles/bootstrap';
@import '~bootstrap-vue/src/index.scss';

$vs-colors: (
    lightest: $gray-400,
    light: $gray-600,
    dark: $dark,
    darkest: $gray-900,
);
$vs-border-color: $input-border-color;
$vs-dropdown-box-shadow: none;
$vs-border-radius: $input-border-radius;
$vs-dropdown-bg: $input-bg;
$vs-state-active-bg: $primary;
.v-select {
    background: $input-bg;

    .form-inline & {
        width: 196px;
    }

    input {
        color: $input-color;
        &::placeholder {
            color: $input-placeholder-color;
        }
    }

    .vs__selected-options {
        max-width: calc(100% - 41px);
        flex-wrap: nowrap;

        .vs__selected {
            max-width: 100%;
            white-space: nowrap;
            color: $input-color;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

    .vs__dropdown-toggle {
        padding: 2px 0 5px 0;
    }

    .vs__dropdown-option {
        display: inline-block;
        min-width: 100%;
    }

    .content-wrapper .navbar .navbar-collapse & {
        .vs__dropdown-toggle {
            padding: 2px 0 2px 0;
        }

        .vs__actions {
            padding-top: 0px;
        }
    }
}
@import '~vue-select/src/scss/vue-select.scss';

@import "./styles/_vue-sidebar-menu.scss";
@import "~vue-sidebar-menu/src/scss/vue-sidebar-menu.scss";


@import '~vue2-datepicker/scss/index';
.mx-datepicker {
    width: 196px;
    .mx-input {
        border-radius: $border-radius;

        input {
            color: $input-color;
            &::placeholder {
                color: $input-placeholder-color;
            }
        }
    }

    &.sm {
        input {
            height: 31px;
        }
    }
}

.form-group {
    .mx-datepicker {
        width: 100%;
    }
}

@import 'styles/vue-material-custom';

.wrap {
  word-wrap: break-word;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
}

pre[class*="language-"] {
    font-family: $font-family-monospace;
    font-size: $font-size-sm;
}

.form-group {
    .input-group {
        > div.v-select {
            padding-left: 0;
        }

        > .input-group-append {
            margin-right: 0;
        }

        > .v-select {
            flex: 1;
        }
    }
}

.pointer {
    cursor: pointer;
}