:deep(.main) {
    padding: 1rem 2rem;
}

:deep(.alternative) {
    background: var(--ks-background-card);

    &:hover {
        border: 1px solid var(ks-border-active);
        background-color: var(--ks-background-card);
        opacity: 0.9;
    }
}

:deep(.high) {
    height: 50px;
}

:deep(.full) {
    width: 100%;
}
