.main {
    padding: 1rem 2rem;
}

.alternative {
    background: var(--ks-background-card);

    &:hover {
        border: 1px solid var(--ks-border-active);
        background-color: var(--ks-background-card);
        opacity: 0.9;
    }
}

.high {
    height: 50px;
}

.full {
    width: 100%;
}
