// Topology-specific SCSS variables
$red: #E36065;
$node-default: #7081b9;

$statusList: created, restarted, success, running, killing, killed, warning, failed, paused, cancelled, skipped, queued, retrying, retried, breakpoint;
