micronaut:
  application:
    name: kestra
  router:
    static-resources:
      swagger:
        paths: classpath:META-INF/swagger
        mapping: /swagger/**
      ui:
        paths: classpath:ui
        mapping: /ui/**

  server:
    multipart:
      max-file-size: '1000MB'

jackson:
  serialization:
    writeDatesAsTimestamps: false

endpoints:
  all:
    enabled: true
    sensitive: false
  health:
    path: /
    details-visible: ANONYMOUS

kestra:
  kafka:
    defaults:
      topic:
        partitions: 64
        replication-factor: 1
        properties:
          compression.type: "lz4"

      consumer:
        properties:
          isolation.level: "read_committed"
          auto.offset.reset: "earliest"
          enable.auto.commit: "false"

      producer:
        properties:
          acks: "all"

      stream:
        properties:
          processing.guarantee: "exactly_once"
          replication.factor: "${kestra.kafka.defaults.topic.replication-factor}"
          acks: "all"

    topics:
      org-kestra-core-models-executions-execution:
        name: "kestra_execution"
        properties:
          cleanup.policy: "compact"
          retention.ms: "-1"

      org-kestra-core-runners-workertask:
        name: "kestra_workertask"

      org-kestra-core-runners-workertaskresult:
        name: "kestra_workertaskresult"

  elasticsearch:
    indices:
      org-kestra-core-models-flows-flow:
        name: "kestra_flows"
        mapping: |
          {
            "properties": {
              "id": {
                "type": "keyword"
              },
              "namespace": {
                "type": "keyword"
              },
              "revision": {
                "type": "integer"
              },
              "inputs": {
                "type": "nested",
                "properties": {
                  "name": {
                    "type": "text"
                  },
                  "type": {
                    "type": "keyword"
                  },
                  "required": {
                    "type": "boolean"
                  }
                }
              },
              "tasks": {
                "type": "nested",
                "properties": {
                  "id": {
                    "type": "keyword"
                  },
                  "type": {
                    "type": "keyword"
                  }
                }
              }
            }
          }

      org-kestra-core-models-executions-execution:
        name: "kestra_executions"
        mapping: |
          {
            "properties": {
              "flowId": {
                "type": "keyword"
              },
              "flowRevision": {
                "type": "integer"
              },
              "id": {
                "type": "keyword"
              },
              "inputs": {
                "type": "object"
              },
              "namespace": {
                "type": "keyword"
              },
              "state": {
                "properties": {
                  "current": {
                    "type": "keyword"
                  },
                  "histories": {
                    "properties": {
                      "date": {
                        "type": "date"
                      },
                      "state": {
                        "type": "keyword"
                      }
                    }
                  }
                }
              },
              "taskRunList": {
                "properties": {
                  "id": {
                    "type": "text",
                    "fields": {
                      "keyword": {
                        "type": "keyword"
                      }
                    }
                  },
                  "taskId": {
                    "type": "text",
                    "fields": {
                      "keyword": {
                        "type": "keyword"
                      }
                    }
                  },
                  "state": {
                    "properties": {
                      "current": {
                        "type": "keyword"
                      },
                      "histories": {
                        "properties": {
                          "date": {
                            "type": "date"
                          },
                          "state": {
                            "type": "keyword"
                          }
                        }
                      }
                    }
                  },
                  "logs": {
                    "properties": {
                      "level": {
                        "type": "keyword"
                      },
                      "message": {
                        "type": "text"
                      },
                      "thread": {
                        "type": "text"
                      },
                      "timestamp": {
                        "type": "date"
                      }
                    }
                  }
                }
              }
            }
          }

  plugins:
    repositories:
      central:
        url: https://repo.maven.apache.org/maven2/
      jcenter:
        url: https://jcenter.bintray.com/
      kestra:
        url: https://dl.bintray.com/kestra/maven
