micronaut:
  application:
    name: floworc
  router:
    static-resources:
      swagger:
        paths: classpath:META-INF/swagger
        mapping: /swagger/**

jackson:
  serialization:
    writeDatesAsTimestamps: false

endpoints:
  all:
    enabled: true
    sensitive: false
  health:
    path: /
    details-visible: ANONYMOUS

floworc:
  kafka:
    defaults:
      topic:
        partitions: 64
        replication-factor: 1
        properties:
          compression.type: "lz4"

      consumer:
        properties:
          isolation.level: "read_committed"
          auto.offset.reset: "earliest"
          enable.auto.commit: "false"

      producer:
        properties:
          acks: "all"

      stream:
        properties:
          processing.guarantee: "exactly_once"
          replication.factor: "${floworc.kafka.defaults.topic.replication-factor}"
          acks: "all"

    topics:
      org-floworc-core-models-executions-execution:
        name: "floworc_execution"
        properties:
          cleanup.policy: "compact"
          retention.ms: "-1"

      org-floworc-core-runners-workertask:
        name: "floworc_workertask"

      org-floworc-core-runners-workertaskresult:
        name: "floworc_workertaskresult"

  elasticsearch:
    indices:
      org-floworc-repository-elasticsearch-elasticsearchflowrepository:
        name: "floworc_flows"
        mapping: |
          {
            "properties": {
              "id": {
                "type": "keyword"
              },
              "namespace": {
                "type": "keyword"
              },
              "revision": {
                "type": "integer"
              },
              "inputs": {
                "type": "nested",
                "properties": {
                  "name": {
                    "type": "text"
                  },
                  "type": {
                    "type": "keyword"
                  },
                  "required": {
                    "type": "boolean"
                  }
                }
              },
              "tasks": {
                "type": "nested",
                "properties": {
                  "id": {
                    "type": "keyword"
                  },
                  "type": {
                    "type": "keyword"
                  }
                }
              }
            }
          }

      org-floworc-core-models-executions-execution:
        name: "floworc_executions"