micronaut:
  application:
    name: kestra
  router:
    static-resources:
      swagger:
        paths: classpath:META-INF/swagger
        mapping: /swagger/**
      ui:
        paths: classpath:ui
        mapping: /ui/**
  server:
    max-request-size: 10GB
    multipart:
      max-file-size: 10GB
      disk: true
    read-idle-timeout: 60m
    write-idle-timeout: 60m
    idle-timeout: 60m
    netty:
      max-chunk-size: 10MB

jackson:
  serialization:
    writeDatesAsTimestamps: false
    writeDurationsAsTimestamps: false
  serialization-inclusion: non_default
  deserialization:
    FAIL_ON_UNKNOWN_PROPERTIES: false

endpoints:
  all:
    port: 8081
    enabled: true
    sensitive: false
  health:
    details-visible: ANONYMOUS
  loggers:
    write-sensitive: false

kestra:
  retries:
    attempts: 5
    multiplier: 2.0
    delay: 1s
    maxDelay: ""

  kafka:
    defaults:
      topic-prefix: "kestra_"
      consumer-prefix: "kestra_"
      topic:
        partitions: 16
        replication-factor: 1

      client:
        properties:
          metrics.recording.level: TRACE

      consumer:
        properties:
          isolation.level: "read_committed"
          auto.offset.reset: "earliest"
          enable.auto.commit: "false"

      producer:
        properties:
          acks: "all"
          compression.type: "lz4"
          max.request.size: "10485760"

      stream:
        properties:
          processing.guarantee: "exactly_once_v2"
          replication.factor: "${kestra.kafka.defaults.topic.replication-factor}"
          acks: "all"
          compression.type: "lz4"
          max.request.size: "10485760"
          cache.max.bytes.buffering: 0

    topics:
      execution:
        name: "${kestra.kafka.defaults.topic-prefix}execution"
        cls: io.kestra.core.models.executions.Execution
        properties:
          cleanup.policy: "compact"
          retention.ms: "-1"
          min.compaction.lag.ms: 86400000

      flow:
        name: "${kestra.kafka.defaults.topic-prefix}flow"
        cls: io.kestra.core.models.flows.Flow
        properties:
          cleanup.policy: "compact"
          retention.ms: "-1"
          segment.bytes: "10485760"

      flowlast:
        name: "${kestra.kafka.defaults.topic-prefix}flow_last"
        properties:
          cleanup.policy: "compact"
          retention.ms: "-1"
          segment.bytes: "10485760"

      template:
        name: "${kestra.kafka.defaults.topic-prefix}template"
        cls: io.kestra.core.models.templates.Template
        properties:
          cleanup.policy: "compact"
          retention.ms: "-1"
          segment.bytes: "10485760"

      executor:
        name: "${kestra.kafka.defaults.topic-prefix}executor-executor-changelog"
        cls: io.kestra.core.runners.Executor
        properties:
          cleanup.policy: "delete,compact"
          min.compaction.lag.ms: 86400000
          delete.retention.ms: 86400000

      killed:
        name: "${kestra.kafka.defaults.topic-prefix}executor_killed"
        cls: io.kestra.core.models.executions.ExecutionKilled
        properties:
          cleanup.policy: "delete,compact"
          min.compaction.lag.ms: 86400000
          delete.retention.ms: 86400000

      executorflowtrigger:
        name: "${kestra.kafka.defaults.topic-prefix}executor_flowtrigger"
        cls: io.kestra.runner.kafka.streams.ExecutorFlowTrigger
        properties:
          cleanup.policy: "delete,compact"
          min.compaction.lag.ms: 86400000
          delete.retention.ms: 86400000

      executorworkertaskexecution:
        cls: io.kestra.core.runners.WorkerTaskExecution
        name: "${kestra.kafka.defaults.topic-prefix}executor_workertaskexecution"
        properties:
          cleanup.policy: "delete,compact"
          min.compaction.lag.ms: 86400000
          delete.retention.ms: 86400000

      workertask:
        name: "${kestra.kafka.defaults.topic-prefix}workertask"
        cls: io.kestra.core.runners.WorkerTask
        properties:
          cleanup.policy: "delete,compact"
          min.compaction.lag.ms: 86400000
          delete.retention.ms: 86400000

      workertaskresult:
        name: "${kestra.kafka.defaults.topic-prefix}workertaskresult"
        cls: io.kestra.core.runners.WorkerTaskResult
        properties:
          cleanup.policy: "delete,compact"
          min.compaction.lag.ms: 86400000
          delete.retention.ms: 86400000

      workerinstance:
        cls: io.kestra.core.runners.WorkerInstance
        name: "${kestra.kafka.defaults.topic-prefix}workerinstance"
        properties:
          cleanup.policy: "compact"
          min.compaction.lag.ms: 86400000
          delete.retention.ms: 86400000

      executorworkerinstance:
        name: "${kestra.kafka.defaults.topic-prefix}executor_workerinstance"
        properties:
          cleanup.policy: "compact"
          min.compaction.lag.ms: 86400000
          delete.retention.ms: 86400000

      workertaskrunning:
        cls: io.kestra.core.runners.WorkerTaskRunning
        name: "${kestra.kafka.defaults.topic-prefix}workertaskrunning"
        properties:
          cleanup.policy: "delete,compact"
          min.compaction.lag.ms: 86400000
          delete.retention.ms: 86400000

      logentry:
        cls: io.kestra.core.models.executions.LogEntry
        name: "${kestra.kafka.defaults.topic-prefix}logs"
        properties:
          cleanup.policy: "delete"

      trigger:
        cls: io.kestra.core.models.triggers.Trigger
        name: "${kestra.kafka.defaults.topic-prefix}trigger"
        properties:
          cleanup.policy: "compact"
          min.compaction.lag.ms: 86400000
          delete.retention.ms: 86400000

  elasticsearch:
    defaults:
      indice-prefix: "kestra_"
    indices:
      flows:
        index: "${kestra.elasticsearch.defaults.indice-prefix}flows"
        cls: io.kestra.core.models.flows.Flow
        mapping-file: flow
      flows-revisions:
        index: "${kestra.elasticsearch.defaults.indice-prefix}flows_revisions"
        cls: io.kestra.core.models.flows.Flow
        mapping-file: flow
      executions:
        index: "${kestra.elasticsearch.defaults.indice-prefix}executions"
        cls: io.kestra.core.models.executions.Execution
        mapping-file: execution
      templates:
        index: "${kestra.elasticsearch.defaults.indice-prefix}templates"
        cls: io.kestra.core.models.templates.Template
        mapping-file: template
      triggers:
        index: "${kestra.elasticsearch.defaults.indice-prefix}triggers"
        cls: io.kestra.core.models.triggers.Trigger
        mapping-file: trigger
      logs:
        index: "${kestra.elasticsearch.defaults.indice-prefix}logs"
        cls: io.kestra.core.models.executions.LogEntry
        mapping-file: log

  indexer:
    models:
      - io.kestra.core.models.executions.Execution
      - io.kestra.core.models.triggers.Trigger
      - io.kestra.core.models.executions.LogEntry

  plugins:
    repositories:
      central:
        url: https://repo.maven.apache.org/maven2/

  variables:
    env-vars-prefix: KESTRA_
    globals: {}
    disable-handlebars: true
    cache-enabled: true
    cache-size: 1000

  metrics:
    prefix: kestra

  server:
    access-log:
      enabled: true
      name: io.kestra.webserver.access
      format: "[Date: {}] [Duration: {} ms] [Method: {}] [Url: {}] [Status: {}] [Length: {}] [Ip: {}] [Port: {}]"
      filters:
        - ".*\\[Url: /api/.*"

  anonymous-usage-report:
    enabled: true
    uri: https://api.kestra.io/v1/reports/usages
    initial-delay: 5m
    fixed-delay: 1h
