// Coloring
$filters-gray-700: var(--bs-gray-700);
$filters-gray-900: var(--bs-gray-900);
$filters-card-color: var(--ks-background-card);
$filters-border-color: var(--ks-border-primary);

// Typography
$filters-font-xs: var(--el-font-size-extra-small);

@mixin width-available {
    width: -moz-available;
    width: -webkit-fill-available;
    width: fill-available;
}

.items {
    .el-tag {
        background: $filters-border-color;
        color: $filters-gray-900;
    }

    .small {
        font-size: $filters-font-xs;
    }
}

.el-popper {
    .empty {
        color: $filters-gray-900
    }

    .scroller {
        &::-webkit-scrollbar {
            height: 5px;
            width: 5px;
        }

        &::-webkit-scrollbar-track {
            background: var(--ks-background-body);
        }

        &::-webkit-scrollbar-thumb {
            background: var(--ks-border-primary);
            border-radius: 5px;
        }
    }
}