.plugin-doc {
    background-color: var(--ks-background-body) !important;

    :deep(.plugin-title) {
        font-size: 1.25em;
    }

    .plugin-icon {
        width: 25px;
        height: 25px;
    }

    .plugin-schema {
        :deep(button) {
            color: var(--ks-content-primary);
        }

        :deep(.code-block) {
            background-color: var(--ks-background-card);
            border: 1px solid var(--ks-border-primary)
        }

        :deep(.language) {
            color: var(--ks-content-tertiary);
        }

        :deep(.plugin-section) {
            p {
                margin-bottom: 0;
            }
            .collapse-button {
                padding: 3px 0;
                font-size: var(--font-size-lg);
                line-height: 1.5rem;
            }

            > .collapse-button:not(.collapsed) {
                color: var(--ks-content-link);
            }

            .property {
                &:has(.collapsed):hover {
                    background-color: var(--ks-dropdown-background-hover);
                }

                &:not(:has(.collapsed)) {
                    background-color: var(--ks-dropdown-background-active);
                }
            }

            .type-box{
                .ref-type {
                    border-right: 1px solid var(--ks-border-primary);
                }

                &:has(.ref-type):hover {
                    background: var(--ks-button-background-secondary-hover) !important;

                    .ref-type {
                        border-right: 1px solid var(--ks-border-secondary);
                    }
                }
            }
        }
    }
}