
#nprogress {
    .bar {
        background: $indigo;
        z-index: 9999;
    }

    .spinner {
        top: 8px;
        right: 8px;
    }

    .peg {
        box-shadow: 0 0 10px $indigo, 0 0 5px $indigo;
    }

    .spinner-icon {
        border-top-color: $indigo;
        border-left-color: $indigo;
    }
}
