$cyan: "" !default;
$indigo: "" !default;

:root {
    #{--vf-connection-path}: $cyan;
    #{--vf-handle}: var(--bs-blue);

}

.vue-flow__edge-labels {
    z-index: 10;
}

.vue-flow__controls-button {
    border: 1px solid var(--bs-border-color);
    background-color: var(--bs-body-bg);
    color: var(--bs-body-color);
    box-sizing: content-box !important;

    &:hover {
        background-color: var(--bs-body-bg);
        color: var(--bs-cyan);
    }

    svg {
        fill: currentColor;
    }
}