
$vs-colors: (
    lightest: $gray-400,
    light: $gray-600,
    dark: $dark,
    darkest: $gray-900,
);
$vs-border-color: $input-border-color;
$vs-dropdown-box-shadow: none;
$vs-border-radius: $input-border-radius;
$vs-dropdown-bg: $input-bg;
$vs-state-active-bg: $primary;
$vs-selected-bg: $light;

@import '~vue-select/src/scss/vue-select.scss';

.v-select {
    background: $input-bg;

    .form-inline & {
        width: 196px;
    }

    input {
        color: $input-color;
        &::placeholder {
            color: $input-placeholder-color;
        }
    }

    .vs__selected-options {
        max-width: calc(100% - 41px);
        flex-wrap: nowrap;

        .vs__selected {
            max-width: 100%;
            white-space: nowrap;
            color: $input-color;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

    .vs__dropdown-toggle {
        padding: 2px 0 6px 0;
    }

    .vs__dropdown-option {
        display: inline-block;
        min-width: 100%;
        color: $input-color;
    }

    .content-wrapper .navbar .navbar-collapse & {
        .vs__dropdown-toggle {
            padding: 2px 0 2px 0;
        }

        .vs__actions {
            padding-top: 0;
        }
    }

    .input-group & {
        position: relative;
        flex: 1 1 auto;
        width: 1%;
        min-width: 0;
        margin-bottom: 0;
    }
}