#nprogress {
    .bar {
        background: var(--ks-text-link);
        z-index: var(--ks-z-top);
    }

    .spinner {
        top: 8px;
        right: 8px;
    }

    .peg {
        box-shadow: 0 0 10px var(--ks-text-link), 0 0 5px var(--ks-text-link);
    }

    .spinner-icon {
        border-top-color: var(--ks-text-link);
        border-left-color: var(--ks-text-link);
    }
}
