@use 'element-plus/theme-chalk/src/mixins/mixins' as *;

$web-font-path: "https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;700;900&display=swap" !default;

@import url($web-font-path);

body {
    margin: 0;
    width: 100%;
    min-width: 320px;
    min-height: 100vh;
    line-height: 1.5;
    font-size: getCssVar('font-size', 'base');
    font-weight: 400;
    color: var(--text-color);
    background-color: getCssVar('bg-color', 'page');
    font-family: getCssVar('font-family', '');
    direction: ltr;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transition: background-color var(--el-transition-duration-fast)
}

a {
    color: getCssVar('color', 'info')
}

$theme-name: "theme-light" !default;

#theme-loaded {
    content: $theme-name;
    display: none;
}


