.executions-charts {
    position: relative;
    > div {
        height: 100px;
    }

    &.mini {
        > div {
            height: 50px;
            width: 250px
        }
    }
}

.tooltip-stats {
    font-size: var(--el-font-size-extra-small);
    .tooltip-inner {
        text-align: left;
    }

    h6 {
        font-weight: bold;
        font-size: var(--el-font-size-extra-small);
        color: inherit;
    }

    span.square {
        border: 1px solid;
        display: inline-block;
        width: 10px;
        height: 10px;
        margin-right: 5px;
    }
}
