.executions-charts {
    position: relative;
    height: 100px;

    &.mini {
        height: 50px;
        width: 250px
    }

    canvas {
        width: 100%;
        height: 100%;
    }
}

.tooltip-stats {
    font-size: var(--el-font-size-extra-small);
    .tooltip-inner {
        text-align: left;
    }

    h6 {
        font-weight: bold;
        font-size: var(--el-font-size-extra-small);
        color: inherit;
    }

    span.square {
        border: 1px solid;
        display: inline-block;
        width: 10px;
        height: 10px;
        margin-right: 5px;
    }
}
