/* stylelint-disable custom-property-pattern */
/* stylelint-disable color-no-hex */
@use 'sass:math';
@use "sass:map";
@use 'element-plus/theme-chalk/src/mixins/mixins' as *;
@import "@kestra-io/ui-libs/src/scss/variables.scss";
@import "@kestra-io/ui-libs/src/scss/color-palette.scss";

// button
.el-button {
    &:not(.el-button--primary):not(.el-button--success):not(.el-button--warning):not(.el-button--danger):not(.el-button--error):not(.el-button--info), &--default {
        --el-button-hover-text-color: var(--ks-content-primary);
        --el-button-hover-border-color: var(--ks-border-primary);
        --el-button-bg-color: var(--ks-button-background-secondary);
        --el-button-hover-bg-color: var(--ks-button-background-secondary-hover);
        --el-button-active-bg-color: var(--ks-button-background-secondary-active);
    }

    &.el-button--primary {
        --el-button-text-color: var(--ks-button-content-primary);
        --el-button-bg-color: var(--ks-button-background-primary);
        --el-button-border-color: var(--ks-button-background-primary);
        --el-button-hover-bg-color: var(--ks-button-background-primary-hover);
        --el-button-active-bg-color: var(--ks-button-background-primary-active);
    }

    &.el-button--success {
        --el-button-bg-color: var(--ks-button-background-success);
        --el-button-border-color: var(--ks-button-background-success);
        --el-button-hover-bg-color: var(--ks-button-background-success-hover);
        --el-button-active-bg-color: var(--ks-button-background-success-active);
    }

    .el-input-group--append & [class*=el-icon] + span {
        position: relative;
        top: -3px;
    }

    [class*=el-icon] + span:empty {
        margin-left: 0;
    }

    &.el-button--large {
        font-size: var(--bs-body-font-size);
        line-height: var(--bs-body-font-size);
    }

    &.is-text {
        border: 1px solid var(--ks-border-primary);
        height: 32px;
        line-height: 32px;
        font-weight: normal;
        --el-button-background-color: var(--ks-background-card);
        --el-button-text-color: var(--ks-content-primary);

        &.version {
            --el-button-text-color: var(--ks-content-primary);
            --el-button-border-color: var(--ks-border-active);
            --el-button-background-color: var(--ks-button-background-primary);
        }
    }

    &.no-focus {
        outline: none !important;
    }

    &.wh-15 {
        padding: 0;
        border: 0;
        width: 1.5rem;
        height: 1.5rem;

        * {
            width: 1.5rem;
            height: 1.5rem;
        }
    }

    &--success {
        #{--el-button-bg-color}: $green-500;
        #{--el-button-hover-bg-color}: $green-400;
    }
}

.el-input-group__append, .el-input-group__prepend {
    background-color: transparent;
    color: var(--ks-content-primary);
}

// input
.el-input, .el-date-editor, .el-textarea {
    --el-input-border-color: var(--ks-border-primary);
    --el-input-bg-color: var(--ks-background-input);
}

.el-input, .el-input-number, .el-select, .el-date-editor.el-input {

    background-color: var(--ks-background-body);
    width: 100%;
}

.el-input-file {
    .el-input__wrapper {
        padding-left: 0;

        input {
            line-height: 1.5;
        }
    }
}

.el-input-file.custom-upload {
    font-size: var(--el-font-size-base);
    border-radius: var(--el-border-radius-base);
    border: 1px solid var(--ks-border-primary);
    white-space: nowrap;

    form {
        line-height: 27px;
    }

    .el-input__wrapper {
        background-color: transparent;
        box-shadow: none;
    }

    label {
        display: flex;
        cursor: pointer;
        margin-left: 10px;
        gap: .5rem;
    }

    input[type="file"] {
        display: none;
    }

    ::-webkit-file-upload-button {
        display: none;
    }

    ::file-selector-button {
        display: none;
    }

    &:hover {
        border-color: var(--ks-border-active);
        background-color: var(--ks-button-background-primary-hover);
        outline: none;
    }

    &.el-input--large {
        label {
            margin-left: 19px;
            line-height: 38px;
            margin-right: 10px;
            font-size: var(--bs-body-font-size);
        }
    }
}


.el-select {
    --el-disabled-text-color: var(--ks-content-inactive);

    &.fit-text .el-select__input {
        width: fit-content !important;
    }
    .el-tag {
        color: var(--el-select-input-color);

        html.dark & {
            background-color: var(--bs-gray-200);
        }
    }

    &:not(.el-select--small), &:not(.el-select--large) {
        font-size: var(--el-font-size-base);
    }

    .el-select__wrapper {
        background-color: var(--ks-background-input);

        &.is-disabled {
            html.dark & {
                background-color: var(--bs-gray-400);
            }

            .el-select__suffix {
                .el-select__caret {
                    color: var(--ks-content-inactive);
                }
            }
        }
    }
}

.el-select__popper {
    // icon for selection of items in multiple choices
    .el-select-dropdown.is-multiple .el-select-dropdown__item.is-selected::after{
        background-color: var(--ks-select-active-icon);
        mask: no-repeat url(data:image/svg+xml,%3Csvg%20width%3D%2214%22%20height%3D%2211%22%20viewBox%3D%220%200%2014%2011%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M5.00035%2010.6134L0.860352%206.47342L2.74702%204.58675L5.00035%206.84675L11.587%200.253418L13.4737%202.14008L5.00035%2010.6134Z%22%20fill%3D%22%23BBBBFF%22%2F%3E%3C%2Fsvg%3E);
        mask-size: 100% 100%;
        -webkit-mask: no-repeat url(data:image/svg+xml,%3Csvg%20width%3D%2214%22%20height%3D%2211%22%20viewBox%3D%220%200%2014%2011%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M5.00035%2010.6134L0.860352%206.47342L2.74702%204.58675L5.00035%206.84675L11.587%200.253418L13.4737%202.14008L5.00035%2010.6134Z%22%20fill%3D%22%23BBBBFF%22%2F%3E%3C%2Fsvg%3E);
        -webkit-mask-size: 100% 100%;
        right: 1rem;
    }

    .el-select-dropdown__item {
        border-radius: var(--bs-border-radius);
        margin: 0 0.6rem 1px;

        &.is-selected {
            background-color: var(--ks-select-active);
            color: var(--ks-content-primary);
        }

        &.is-hovering {
            background-color: var(--ks-select-hover);
        }
    }
}

.el-checkbox {
    --el-checkbox-text-color: var(--ks-content-primary);
    --el-checkbox-checked-text-color: var(--ks-content-primary);
    --el-checkbox-font-size: var(--font-size-base);

    html.dark & {
        --el-checkbox-bg-color: var(--ks-background-input);
    }
}

.el-date-editor {
    .el-input__icon {
        margin-right: .25rem;
    }
}

.el-date-table td.disabled .el-date-table-cell {
    background: none;
    color: var(--ks-content-inactive);
}

.el-input-number__increase, .el-input-number__decrease {
    background: var(--ks-background-card);
}

.el-input-number__increase:hover, .el-input-number__decrease:hover {
    html.dark & {
        color: var(--bs-gray-700);
    }
}

.el-input-file {
    .el-input__wrapper {
        padding-left: 0;

        input {
            line-height: 1.5;
        }
    }

    .el-input__inner::file-selector-button {
        background: var(--ks-button-background-primary);
        border: 0;
        margin: 2px 10px 0 4px;
        border-radius: var(--el-border-radius-base);
    }

    &.custom-upload {
        font-size: var(--el-font-size-base);
        border-radius: var(--el-border-radius-base);
        border: 1px solid var(--ks-border-primary);
        white-space: nowrap;

        .el-input__wrapper {
            background-color: transparent;
        }

        label {
            display: flex;
            cursor: pointer;
            margin-left: 10px;
            gap: .5rem;
        }

        input[type="file"] {
            display: none;
        }

        ::-webkit-file-upload-button {
            display: none;
        }

        ::file-selector-button {
            display: none;
        }

        &:hover {
            border-color: var(--ks-border-active);
            background-color: var(--ks-background-button-primary-hover);
            outline: none;
        }

        &.el-input--large {
            label {
                margin-left: 19px;
                line-height: 38px;
                margin-right: 10px;
                font-size: var(--bs-body-font-size);
            }
        }
    }
}

// form item error
.el-form-item {
    .el-form-item__error {
        &.el-form-item__error--inline {
            margin-top: 3px;
            width: 100%;
            margin-left: 6px;
        }
    }
}

// form horizontal
form.ks-horizontal {
    .el-form-item {
        @include res(xs) {
            display: block;
        }

        @include res(sm) {
            $label-size: math.div(1, 24) * 4 * 100 * 1%;
            --label-size: #{$label-size};
            &.small {
                --label-size: calc(#{$label-size} / 2);
            }

            .el-form-item__label {
                max-width: var(--label-size);
                flex: 0 0 var(--label-size);
                text-align: right;
            }

            .el-form-item__content {
                align-items: flex-start;
                max-width: calc(100% - var(--label-size));
                flex: 0 0 calc(100% - var(--label-size));
            }
        }
    }

    .submit {
        text-align: right;

        .el-form-item__content {
            justify-content: end;
            max-width: unset;
            flex: 1;
        }
    }
}

// table
.el-table {
    --el-table-border-color: var(--ks-border-primary);
    --el-table-border: 1px solid var(--ks-border-primary);

    --el-table-header-text-color: var(--ks-content-primary);
    --el-table-header-bg-color: var(--ks-background-table-header);
    --el-table-row-hover-bg-color: var(--ks-background-table-row-hover);
    --el-table-header-bg-color: var(--ks-background-table-header);
    --el-table-tr-bg-color: var(--ks-background-table-row);

    outline: 1px solid var(--ks-border-primary);
    border-radius: var(--bs-border-radius-lg);
    background-color: var(--bs-gray-100-lighten-2);
    border-bottom-width: 0;
    font-size: var(--el-font-size-small);

    &--striped {
        .el-table__body tr.el-table__row--striped:not(:hover) td.el-table__cell {
            background: var(--bs-gray-100-darken-2);

            html.dark & {
                background: var(--ks-background-body);
            }
        }
    }

    .cell {
        padding: 0 8px;
        word-break: break-word;
        font-weight: 400;
    }

    .el-table__cell {
        vertical-align: top;
    }


    .el-table__inner-wrapper::before {
        display: none;
    }

    .el-table__empty-text {
        color: var(--bs-gray-600);
    }

    th {
        white-space: nowrap;

        div.cell {
            word-break: normal;
            white-space: nowrap;
        }
    }

    th.row-action, td.row-action {
        width: 24px;

        .cell {
            white-space: nowrap;
        }

        a, button {
            color: var(--ks-content-primary);
            width: 28px;
            border-radius: var(--bs-border-radius);
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;

            .material-design-icon__svg {
                bottom: -0.125rem;
            }
        }

        button {
            .material-design-icon__svg {
                bottom: 0;
            }
        }
    }

    th.shrink {
        width: 16px;
    }

    td.shrink {
        white-space: nowrap;
    }

    th.row-graph {
        width: 250px;
        min-width: 250px;
    }

    td.row-graph {
        padding: 0;
        vertical-align: bottom;
    }

    tr.disabled {
        td {
            opacity: 0.5;
        }
    }

    td {
        .el-tag {
            margin-right: .3rem;
        }

        a {
            color: var(--ks-content-primary);
            &:hover{
                text-decoration: underline;
            }
        }
    }
}

// tabs
.el-tabs {
    .el-tabs__active-bar {
        height: 4px;
        background-color: var(--ks-button-background-primary);
    }

    .el-tabs__item {
        padding: 0;
        transition: all 0.3s ease;

        > * {
            padding: 1rem 1.5rem;

        }

        a {
            color: var(--ks-content-secondary);
            transition: 0.3s ease;
        }

        &.is-active > * {
            background-color: var(--ks-content-link);
        }

        &.is-disabled a {
            color: var(--ks-content-inactive) !important;
        }
    }

    .el-tabs__nav-wrap::after {
        height: 1px;
        background-color: var(--ks-border-primary);
    }

    html.dark & {
        .el-tabs__active-bar {
            background-color: var(--ks-button-background-secondary-hover);
        }

        .el-tabs__item {
            &.is-active > * {
                color: var(--ks-content-secondary);
            }
        }
    }


    &.top {
        background: var(--ks-background-card);
        border-bottom: 1px solid var(--ks-border-primary);
        padding: .5rem;
        position: sticky;
        top: var(--top-navbar-height);
        z-index: 1000;

        .el-tabs__active-bar {
            display: none;
        }

        .el-tabs__nav-wrap::after {
            display: none;
        }

        .el-tabs__header {
            margin-bottom: 0;
        }

        .el-tabs__nav-scroll {
            padding: 0 15px;
        }

        .el-tabs__nav-prev {
            &:after {
                content: '';
                position: absolute;
                top: 0;
                right: -10px;
                height: 100%;
                width: 10px;
                background: linear-gradient(90deg, var(--ks-background-card) 0%, rgba(0, 0, 0, 0) 100%);
                z-index: calc(var(--el-index-normal) + 2);
            }
        }

        .el-tabs__nav-next {
            &:before {
                content: '';
                position: absolute;
                top: 0;
                left: -15px;
                height: 100%;
                width: 15px;
                background: linear-gradient(-90deg, var(--ks-background-card) 0%, rgba(0, 0, 0, 0) 100%);
                z-index: calc(var(--el-index-normal) + 2);
            }
        }

        .el-tabs__item {
            > * {
                padding: .5rem 1rem;
            }

            a:hover{
                color: var(--ks-content-link);
            }

            &.is-active > a {
                background: var(--ks-button-background-secondary-hover);
                color: var(--ks-content-link);
                border-radius: var(--bs-border-radius);
            }
        }

    }

    &.el-tabs--card{
        .el-tabs__nav-wrap{
            margin-bottom: 1px; // fix tabs overflowing over the bottom line
        }
        & > .el-tabs__header .el-tabs__nav{
            background-color: var(--ks-background-card);
            border-bottom: 1px solid var(--ks-border-inactive);
            gap: 2px;
            .el-tabs__item{
                padding: 0 !important;
                border: none;
                &:first-child a{
                    margin-left: 1px;
                    border-top-left-radius: 3px;
                }
                &:last-child a{
                    border-top-right-radius: 3px;
                }
                a{
                    padding-top: .5rem;
                    padding-bottom: .5rem;
                    font-weight: normal!important;
                    color: var(--ks-content-primary);
                    &:hover{
                        // create an outline without cutting the rounded corners
                        box-shadow: 0 0 0 1px var(--ks-border-active);
                    }
                }
                &.is-active a{
                    background-color: var(--ks-background-body);
                    color: var(--ks-content-link);
                    position: relative;
                    z-index: 1;
                    // create an outline without cutting the rounded corners
                    box-shadow: 0 0 0 1px var(--ks-border-active);
                }
            }
        }
    }
}

// card
.el-card {
    border-radius: $border-radius-lg;
    --el-card-border-color: var(--ks-border-primary);
    --el-card-border-radius: var(--bs-border-radius-lg);
    --el-card-padding: #{$spacer};
    color: var(--ks-content-primary);
    background-color: var(--ks-background-card);

    .el-card__header {
        padding: $card-cap-padding-y $card-cap-padding-x;
        font-weight: bold;
    }

}

// message box
.el-message-box {
    --el-messagebox-title-color: var(--ks-content-primary);
    border: 1px solid var(--ks-border-primary);

    &.full-screen {
        max-width: 80%;
        height: 80%;

        .el-message-box__content {
            height: calc(100% - 75px);

            .el-message-box__container {
                height: 100%;

                .el-message-box__message {
                    height: 100%;

                    p {
                        height: 100%;
                    }
                }
            }
        }
    }
}

// popper (tooltip menu)
.el-popper {
    border-radius: $border-radius-lg;

    &.hide-arrow .el-popper__arrow {
        display: none;
    }

    &.is-light {
        border: 1px solid var(--ks-border-primary);

        .el-popper__arrow::before {
            border: 1px solid var(--ks-border-primary);
        }
    }

    &.is-dark {
        color: var(--bs-gray-100);

        background: var(--bs-gray-900);
        border: 1px solid var(--ks-border-primary);

        .el-popper__arrow::before {
            border: 1px solid var(--ks-border-primary);
            background-color: var(--bs-gray-900);
        }

        html.dark & {
            color: var(--bs-gray-900);
            background: var(--bs-gray-100);

            .el-popper__arrow::before {
                background-color: var(--bs-gray-100);
            }
        }
    }

    .el-popover__title {
        color: var(--ks-content-primary);
    }
}

// message box
.el-pagination {
    --el-pagination-bg-color: transparent;
    --el-pagination-text-color: var(--ks-content-primary);
    --el-pagination-button-color: var(--ks-content-link);
    --el-pagination-hover-color: var(--ks-content-link-hover);

    li, button {
        border: 1px solid var(--ks-border-inactive);
        margin-right: 3px;

        &.is-active {
            border: 1px solid var(--ks-border-active);
        }
    }
}


// dropdown
.el-dropdown__popper {
    font-size: var(--el-font-size-small);
    --el-dropdown-menuItem-hover-fill: var(--bs-gray-300);
    --el-dropdown-menuItem-hover-color: var(--ks-content-primary);

    &.separator-m-0 .el-dropdown-menu__item--divided {
        margin: 0;
    }

    .m-dropdown-menu {
        display: flex;
        flex-direction: column;
        width: 20rem;
        padding: 0;
    }

    .el-dropdown-menu {
        padding: 0;
        background-color: transparent;
    }

    // no longer require focus to get hover effect on dropdowns
    .el-dropdown-menu__item {
        &:first-child {
            border-top-left-radius: calc(var(--el-border-radius-base) * 2);
            border-top-right-radius: calc(var(--el-border-radius-base) * 2);
        }
        &:last-child {
            border-bottom-left-radius: calc(var(--el-border-radius-base) * 2);
            border-bottom-right-radius: calc(var(--el-border-radius-base) * 2);
        }
        &:is(li) {
            display: flex;
            gap: .5rem;

            i {
                margin-right: 0;
            }
        }

        &:not(.is-disabled):hover {
            background-color: var(--el-dropdown-menuItem-hover-fill);
        }
    }
}

// autocomplete
.el-autocomplete {

    .el-input {
        height: 100%;
        --el-input-bg-color: var(--ks-background-body);
    }

    .el-input__suffix-inner {
        gap: .5rem;

        > span:not(.material-design-icon) {
            font-size: 0.75rem;
            line-height: 1.25rem;
        }
    }
}
.el-autocomplete-suggestion {
    .el-autocomplete-suggestion__wrap {
        max-height: 40vh;
    }

    li {
        // highlight of keyboard selection & element plus hover
        --el-fill-color-light: var(--ks-select-hover);
        padding: 0 1rem;

        a {
            color: var(--ks-content-primary);
            justify-content: space-between;
        }
    }
}

// drawer
.el-drawer {
    &.ltr,
    &.rtl {
        width: 70%;
        @include res(xs) {
            width: 95%;
        }

        @include res(md) {
            width: 70%;
        }

        @include res(lg) {
            width: 35%;
            min-width: 800px;
        }

        &.sm {
            min-width: auto;

            @include res(xs) {
                width: 95%;
            }

            @include res(sm) {
                width: 50%;
            }

            @include res(lg) {
                width: 30%;
            }

        }
    }

    &.ttb,
    &.btt {
        height: 70%;
        @include res(xs) {
            height: 95%;
        }

        @include res(lg) {
            height: 50%;
        }

        @include res(lg) {
            height: 35%;
            min-height: 600px;
        }

        &.sm {
            height: 30%;
            min-width: auto;

        }
    }

    &.full-screen {
        width: 99% !important;
    }

    .el-drawer__header {
        padding: 1rem;
        margin-bottom: 0;
        background-color: var(--bs-gray-300);
        border-bottom: 1px solid var(--ks-border-primary);
        color: var(--ks-content-primary);
        font-weight: bold;
        font-size: var(--font-size-lg);

        html.dark & {
            background-color: var(--bs-gray-100);
        }
    }
}

// loading
.el-loading-mask {
    backdrop-filter: blur(3px) opacity(0.85);
    inset: 0;
    background: none;
    transition: backdrop-filter 0.2s;
}

// collapse
.el-collapse {
    --el-collapse-content-text-color: var(--ks-content-primary);
    --el-collapse-header-text-color: var(--ks-content-primary);
    --el-collapse-header-border-color: var(--ks-border-primary);
    --el-collapse-header-height: auto;
    --el-collapse-header-font-size: var(--font-size-base);
    --el-collapse-content-font-size: var(--font-size-base);
    --el-collapse-border-color: var(--ks-border-primary);

    border: none;

    .el-collapse-item__header {
        padding: .5rem;
        border: none;
    }

    .el-collapse-item__content {
        padding: .5rem;
    }

    .el-collapse-item__wrap {
        border: none;
    }
}

// alert
.el-alert {
    --el-alert-description-font-size: var(--font-size-sm);

    .el-alert__description {
        margin: 0;
    }

    @each $type in $types {
        &.el-alert--#{$type}.is-light {
            border: 1px solid var(--ks-border-#{$type});
            background-color: var(--ks-background-#{$type});
            #{--el-color-#{$type}}: var(--ks-content-#{$type});
        }
    }
}

// notifications
.el-notification {
    --el-notification-border-color: var(--ks-border-primary);
    --el-notification-title-color: var(--ks-content-primary);

    .el-notification__group {
        flex-grow: 2;
    }

    .el-notification__content {
        text-align: left;
    }

    &.large {
        width: 70%;
        @include res(xs) {
            width: 95%;
        }

        @include res(md) {
            width: 70%;
        }

        @include res(lg) {
            width: 35%;
            min-width: 800px;
        }
    }
}

// tags
.el-tag {
    --el-tag-bg-color: var(--ks-tag-background);
    --el-tag-text-color: var(--ks-tag-content);
    border: 0;

    a{
        color: var(--ks-tag-content);
    }

    @each $i in ($types) {
        &.el-tag--#{$i} {
            --el-tag-text-color: #{darken(map.get($element-colors, $i, 'base'), 45%)};
            --el-tag-bg-color: var(--el-color-#{$i});
            --el-tag-hover-color: var(--el-color-#{$i}-dark-2);
        }
    }

    &.el-tag--plain {
        border: 1px solid var(--el-tag-border-color);
        @each $i in ($types) {
            &.el-tag--#{$i} {
                --el-tag-text-color: var(--el-color-#{$i});
                --el-tag-bg-color: #FFFFFF;
                --el-tag-hover-color: var(--el-color-#{$i}-dark-2);
                --el-tag-border-color: var(--el-color-#{$i});
                html.dark &{
                    --el-tag-bg-color: #{darken(map.get($element-colors, $i, 'base'), 45%)};
                }
            }
        }
    }
}

// avatar
.el-avatar {
    --el-avatar-bg-color: var(--bs-gray-400);
    --el-avatar-text-color: var(--ks-content-primary);

    &.el-avatar--small {
        font-size: 65%;
    }

    html.dark & {
        --el-avatar-text-color: $base-white;
    }
}


// dialog
.el-dialog {
    --el-dialog-border-radius: var(--bs-border-radius-lg);
    background-color: var(--ks-background-card);

    .el-dialog__header {
        padding: 1rem;
        margin: -1rem -1rem 1rem;
        border-top-right-radius: var(--bs-border-radius-lg);
        border-top-left-radius: var(--bs-border-radius-lg);
        background: var(--ks-dialog-header);
        font-size: var(--font-size-lg);

        .el-dialog__headerbtn {
            height: 62px;
            width: 62px;
        }
    }

    .el-dialog__title {
        html.dark & {
            color: $base-white
        }
    }

    .bottom-buttons {
        margin-top: 36px;
        display: flex;

        > * {
            flex: 1;

            * {
                margin: 0;
            }
        }

        .left-align {
            &, & div {
                gap: 1rem;
                display: flex;
                flex-direction: row
            }
        }

        .right-align {
            &, & div {
                gap: 1rem;
                display: flex;
                flex-direction: row-reverse;
            }
        }
    }
}

// date picker
.el-date-range-picker {
    --el-datepicker-border-color: var(--ks-border-primary);
    --el-datepicker-inner-border-color: var(--ks-border-primary);

    .el-date-table th {
        border-bottom-color: var(--ks-border-primary);
    }
}

.el-breadcrumb {
    display: flex;

    a {
        font-weight: normal;
        color: var(--ks-content-tertiary) !important;
        white-space: nowrap;
        cursor: pointer !important;
    }

    .el-breadcrumb__separator {
        color: var(--ks-content-tertiary);
    }

    .el-breadcrumb__item {
        display: flex;
        flex-wrap: nowrap;
        float: none;
    }

    .material-design-icon {
        height: 0.75rem;
        width: 0.75rem;
        margin-right: .5rem;
    }

    html.dark & {
        a, .el-breadcrumb__separator {
            color: var(--ks-content-secondary) !important;
        }
    }
}

.el-steps {
    .is-process {
        color: $base-white;
    }

    .el-step__head {
        &.is-process .el-step__icon {
            border-color: $base-white;
            box-shadow: 0 1px 3px 0 #7614B880,
                        0 5px 5px 0 #7614B86E,
                        0 11px 7px 0 #7614B842,
                        0 20px 8px 0 #7614B814,
                        0 31px 9px 0 #7614B803;
        }
        .el-step__icon {
            border: 1px solid var(--ks-border-primary);
            border-radius: 50%;
            background-color: var(--ks-background-input);
        }

        &.is-success .el-step__icon {
            box-shadow: 0 2px 3px 0 #29DB9726,
                        0 6px 6px 0 #29DB9721,
                        0 14px 8px 0 #29DB9714,
                        0 25px 10px 0 #29DB9705,
                        0 39px 11px 0 #29DB9700;

        }

        .el-step__line {
            width: 1px;
        }
    }
}

.el-switch {
    .el-switch__label {
        color: var(--ks-content-primary);
    }
}


.el-radio-group.filter {
    padding: 1px 4px;
    box-shadow: 0 0 0 1px var(--ks-border-primary) inset;
    background-color: var(--ks-background-input);
    border-radius: var(--el-border-radius-base);
    height: var(--el-component-size);

    .el-radio-button {
        display: inline-flex;
    }

    .el-radio-button__inner {
        background-color: var(--ks-background-input);
        padding: 4px 15px;
        border: 0 !important;
        box-shadow: none;

        border-radius: var(--el-border-radius-base) !important;
    }

    .el-radio-button__original-radio:checked + .el-radio-button__inner {
        box-shadow: none;
        background: $base-gray-500;
    }
}

.text-base {
    font-size: var(--el-font-size-base);
}

.el-empty {
    background-color: var(--ks-background-card);
}
