/* stylelint-disable custom-property-pattern */
/* stylelint-disable color-no-hex */
@use 'sass:math';
@use "sass:map";
@use 'element-plus/theme-chalk/src/mixins/mixins' as *;

// FIXME: create a new component for this
.kel-input-file.custom-upload {
    font-size: var(--ks-font-size-base);
    border-radius: var(--kel-border-radius-base);
    border: 1px solid var(--ks-border-primary);
    white-space: nowrap;

    form {
        line-height: 27px;
    }

    .kel-input__wrapper {
        background-color: transparent;
        box-shadow: none;
    }

    label {
        display: flex;
        cursor: pointer;
        margin-left: 10px;
        gap: .5rem;
    }

    input[type="file"] {
        display: none;
    }

    ::-webkit-file-upload-button {
        display: none;
    }

    ::file-selector-button {
        display: none;
    }

    &:hover {
        border-color: var(--ks-border-active);
        background-color: var(--ks-button-background-primary-hover);
        outline: none;
    }

    &.kel-input--large {
        label {
            margin-left: 19px;
            line-height: 38px;
            margin-right: 10px;
            font-size: var(--kbs-body-font-size);
        }
    }
}

// FIXME: create a new component for this (same than the one above but without the custom-upload class)
.kel-input-file {
    .kel-input__wrapper {
        padding-left: 0;

        input {
            line-height: 1.5;
        }
    }

    .kel-input__inner::file-selector-button {
        background: var(--ks-button-background-primary);
        color: var(--ks-button-content-primary);
        border: 0;
        margin: 2px 10px 0 4px;
        border-radius: var(--kel-border-radius-base);
    }

    &.custom-upload {
        font-size: var(--ks-font-size-base);
        border-radius: var(--kel-border-radius-base);
        border: 1px solid var(--ks-border-primary);
        white-space: nowrap;

        .kel-input__wrapper {
            background-color: transparent;
        }

        label {
            display: flex;
            cursor: pointer;
            margin-left: 10px;
            gap: .5rem;
        }

        input[type="file"] {
            display: none;
        }

        ::-webkit-file-upload-button {
            display: none;
        }

        ::file-selector-button {
            display: none;
        }

        &:hover {
            border-color: var(--ks-border-active);
            background-color: var(--ks-background-button-primary-hover);
            outline: none;
        }

        &.kel-input--large {
            label {
                margin-left: 19px;
                line-height: 38px;
                margin-right: 10px;
                font-size: var(--kbs-body-font-size);
            }
        }
    }
}

.kel-scrollbar__thumb {
    background-color: var(--ks-border-primary) !important;
}
