@import '~bootstrap/scss/bootstrap-reboot';
@import '~bootstrap/scss/bootstrap-grid';

@import '~bootstrap/scss/utilities/align';
@import '~bootstrap/scss/utilities/background';
@import '~bootstrap/scss/utilities/float';
@import '~bootstrap/scss/utilities/text';

@import '~bootstrap/scss/code';
@import '~bootstrap/scss/type';
@import '~bootstrap/scss/progress';

a {
    text-decoration: none;
}

button {
    text-decoration: none;

    &:hover {
        text-decoration: none;
    }
}

[placeholder] {
    text-overflow: ellipsis;
}