@use 'sass:map';
@use 'sass:math';
@use 'element-plus/theme-chalk/src/mixins/var' as *;

@import "@kestra-io/ui-libs/src/scss/variables.scss";

// use bootstrap for main style
:root {
    --el-bg-color: var(--bs-body-bg);
    --el-bg-color-page: var(--bs-body-bg);
    --el-bg-color-overlay: var(--bs-white);

    --el-text-color-primary: var(--bs-primary);
    --el-text-color-regular: var(--bs-body-color);
    --el-text-color-secondary: var(--bs-secondary);
    --el-text-color-placeholder: var(--bs-gray-600);
    --el-text-color-disabled: var(--bs-gray-300-darken-5);

    --el-border-color: var(--bs-border-color);
    --el-border-color-light: var(--bs-border-color);
    --el-border-color-lighter: var(--bs-border-color);
    --el-border-color-extra-light: var(--bs-border-color);
    --el-border-color-dark: var(--bs-border-color);
    --el-border-color-darker: var(--bs-border-color);

    --el-fill-color: var(--bs-gray-300);
    --el-fill-color-light: var(--bs-gray-200);
    --el-fill-color-lighter: var(--bs-gray-100);
    --el-fill-color-extra-light: var(--bs-white);
    --el-fill-color-dark: var(--bs-gray-400);
    --el-fill-color-darker: var(--bs-gray-500);
    --el-fill-color-blank: var(--bs-white);

    --el-box-shadow: $box-shadow;
    --el-box-shadow-light: $box-shadow-sm;
    --el-box-shadow-lighter: $box-shadow-sm;
    --el-box-shadow-dark: $box-shadow-lg;

    --el-transition-duration: 0.2s;
    --el-transition-duration-fast: 0.2s;

    --input-suffix-color: #574F6C;
    --white-black-font-color: #{$black};
    --top-navbar-height: 79px;
}

:root {
    #{--menu-width}: $menu-width;
    #{--menu-collapsed-width}: 65px;
    #{--spacer}: $spacer;

    #{--font-size-xs}: $font-size-xs;
    #{--font-size-sm}: $font-size-sm;
    #{--font-size-base}: $font-size-base;
    #{--font-size-lg}: $font-size-lg;
    #{--card-bg}: $card-bg;
    #{--input-bg}: $input-bg;

    #{--bs-heading-color}: var(--bs-black);
    #{--bs-tertiary}: $tertiary;

    #{--bs-gray}: #{map.get($grays, "600")};
    @each $key, $value in $grays {
        --bs-gray-#{$key}: #{$value};

        @each $i in (2, 3, 5, 7, 10, 15) {
            #{--bs-gray-#{$key}-lighten-#{$i}}: #{lighten($value, $i)};
            #{--bs-gray-#{$key}-darken-#{$i}}: #{darken($value, $i)};
        }
    }

    @each $key, $value in $colors {
        @each $i in (45) {
            #{--bs-#{$key}-darken-#{$i}}: #{darken($value, $i)};
        }
    }

    &:not(.dark){
        #{--bs-warning-rgb}: 221, 95, 0;
    }
}
