/* stylelint-disable custom-property-pattern */
/* stylelint-disable color-no-hex */
@use 'sass:map';
@use 'sass:math';
@use 'element-plus/theme-chalk/src/mixins/var' as *;

@import "@kestra-io/ui-libs/src/scss/variables.scss";
@import "@kestra-io/ui-libs/src/scss/color-palette.scss";

// use bootstrap for main style
:root {
    --el-bg-color: var(--ks-background-body);
    --el-bg-color-page: var(--ks-background-body);
    --el-bg-color-overlay: var(--bs-white);

    --el-text-color-primary: var(--ks-content-link);
    --el-text-color-regular: var(--ks-content-primary);
    --el-text-color-secondary: var(--ks-content-secondary);
    --el-text-color-placeholder: var(--ks-content-secondary);
    --el-text-color-disabled: var(--ks-content-inactive);

    --el-border-color: var(--ks-border-primary);
    --el-border-color-light: var(--ks-border-primary);
    --el-border-color-lighter: var(--ks-border-primary);
    --el-border-color-extra-light: var(--ks-border-primary);
    --el-border-color-dark: var(--ks-border-secondary);
    --el-border-color-darker: var(--ks-border-secondary);

    --el-fill-color: $base-gray-300;// used in buttons .is-text
    --el-fill-color-light: $base-gray-200; // used in many places autocomplete suggestion highlighted
    --el-fill-color-lighter: $base-gray-100; // used to be for table stripped but not anymore
    --el-fill-color-extra-light: $base-white; // not used at all
    --el-fill-color-dark: $base-gray-400; // used in buttons .is-text when active
    --el-fill-color-darker: $base-gray-500; // not used at kestra
    --el-fill-color-blank: $base-white;// used in many places --el-input-background-color

    // alert colors
    @each $type in $types {
        #{--el-color-alert-#{$type}}: var(--ks-content-#{$type});
    }

    --bs-code-color: $base-purple-600;

    #{--card-bg}: var(--ks-background-card);
    #{--input-bg}: $input-bg;

    #{--bs-border-color}: var(--ks-border-primary);
    #{--bs-border-secondary-color}: var(--ks-border-secondary);

    #{--bs-card-bg}: var(--ks-background-card);
    #{--bs-body-color}: $base-black;
    #{--bs-heading-color}: $base-black;
    #{--bs-secondary}: #564A75;
    #{--bs-secondary-rgb}: to-rgb(#564A75);
    #{--bs-tertiary-color}: #7E719F;
    #{--bs-tertiary}: $tertiary;
    #{--bs-link-color-rgb}: to-rgb($base-purple-500);
    #{--bs-link-hover-color-rgb}: to-rgb($base-purple-300);

    #{--bs-gray}: #{map.get($grays, "600")};
    @each $key, $value in $grays {
        --bs-gray-#{$key}: #{$value};

        @each $i in (2, 3, 5, 7, 10, 15) {
            #{--bs-gray-#{$key}-lighten-#{$i}}: #{lighten($value, $i)};
            #{--bs-gray-#{$key}-darken-#{$i}}: #{darken($value, $i)};
        }
    }

    @each $key, $value in $colors {
        @each $i in (45) {
            #{--bs-#{$key}-darken-#{$i}}: #{darken($value, $i)};
        }
    }

    $content-information: $base-blue-600;
    $content-running: $base-purple-600;
    $content-alert: $base-red-500;
    $content-warning: $base-orange-600;
    $content-success: $base-green-300;
    #{--bs-info-rgb}: to_rgb($content-information);
    #{--bs-running-rgb}: to_rgb($content-running);
    #{--bs-danger-rgb}: to_rgb($content-alert);
    #{--bs-warning-rgb}: to_rgb($content-warning);
    #{--bs-success-rgb}: to_rgb($content-success);

    #{--bs-border-info}: var(--ks-border-info);
    #{--bs-border-running}: var(--ks-border-running);
    #{--bs-border-danger}: var(--ks-border-error);
    #{--bs-border-warning}: var(--ks-border-warning);
    #{--bs-border-success}: var(--ks-border-success);
}

$logLevels: "trace", "debug", "info", "warn", "error";
@each $logLevel in $logLevels {
    .log-border-#{$logLevel} {
        border-color: var(--ks-log-border-#{$logLevel}) !important;
    }
    .log-bg-#{$logLevel} {
        background-color: var(--ks-log-background-#{$logLevel}) !important;
    }
    .log-content-#{$logLevel} {
        color: var(--ks-log-content-#{$logLevel}) !important;
    }
}

.opacity-40 {
    opacity: 40%;
}

.min-w-auto {
    min-width: auto !important;
}

.text-tertiary {
    color: var(--ks-content-tertiary);
}

.button-top {
    background: var(--ks-background-card);
    border-bottom: 1px solid var(--ks-border-primary);
    padding: .5rem 2rem;
    padding-left: .5rem;
    display: flex;
    align-items: center;
    justify-content: end;
    max-height: 49.5px;

    .validation {
        border: 0;
        padding-left: .5rem;
        padding-right: .5rem;
    }

    .el-button {
        border: 0;
        padding-left: .5rem;
        padding-right: .5rem;
    }
}