@use 'sass:map';

@import "@kestra-io/ui-libs/src/scss/theme-dark.scss";
@import "@kestra-io/ui-libs/src/scss/variables.scss";

// Bootstrap
@import "bootstrap/scss/functions";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/vendor/rfs";
@import "bootstrap/scss/variables";

html.dark {
    #{--bs-gray}: #{map.get($grays, "600")};
    @each $key, $value in $grays {
        --bs-gray-#{$key}: #{$value};

        @each $i in (2, 3, 5, 7, 10, 15) {
            #{--bs-gray-#{$key}-lighten-#{$i}}: #{lighten($value, $i)};
            #{--bs-gray-#{$key}-darken-#{$i}}: #{darken($value, $i)};
        }
    }

    #{--bs-card-bg}: #2F3342;
    #{--bs-heading-color}: var(--bs-white);
    #{--bs-body-color}: white;
    #{--bs-body-bg}: $body-bg;
    #{--bs-border-color}: #404559;
    #{--bs-border-secondary-color}: #2F3342;
    #{--bs-secondary}: #E3DBFF;
    #{--bs-secondary-rgb}: to-rgb(#E3DBFF);
    #{--bs-link-color}: $secondary;
    #{--bs-link-color-rgb}: to-rgb($secondary);
    #{--bs-tertiary-color}: #C3BBE3;

    $levels: info, running, danger, warning;
    @each $level in $levels {
        .bg-#{$level} {
            #{--bs-bg-opacity}: 0.2;
        }
    }

    --bs-link-hover-color: #D0CDF9;

    #{--card-bg}: $card-bg;
    #{--input-bg}: $input-bg;

    --el-bg-color: var(--bs-body-bg);
    --el-bg-color-page: var(--bs-body-bg);
    --el-bg-color-overlay: var(--bs-gray-100-darken-5);

    --el-disabled-bg-color: var(--bs-gray-100-lighten-5);
    --el-disabled-border-color: var(--bs-border-color);

    --el-text-color-primary: var(--bs-primary);
    --el-text-color-regular: var(--bs-body-color);
    --el-text-color-secondary: var(--bs-secondary);
    --el-text-color-placeholder: var(--bs-body-color);
    --el-text-color-disabled: var(--bs-gray-400);

    --el-border-color: var(--bs-border-color);
    --el-border-color-light: var(--bs-border-color);
    --el-border-color-lighter: var(--bs-border-color);
    --el-border-color-extra-light: var(--bs-border-color);
    --el-border-color-dark: var(--bs-border-color);
    --el-border-color-darker: var(--bs-border-color);

    --el-fill-color: var(--bs-gray-700);
    --el-fill-color-light: var(--bs-gray-800);
    --el-fill-color-lighter: var(--bs-gray-700);
    --el-fill-color-extra-light: var(--bs-gray-400);
    --el-fill-color-dark: var(--bs-gray-800);
    --el-fill-color-darker: var(--bs-gray-900);
    --el-fill-color-blank: var(--bs-card-bg);

    #{--el-box-shadow}: $box-shadow;
    #{--el-box-shadow-light}: $box-shadow-sm;
    #{--el-box-shadow-lighter}: $box-shadow-sm;
    #{--el-box-shadow-dark}: $box-shadow-lg;

    --el-button-active-text-color: var(--bs-body-color);

    --input-suffix-color: #C6C1D9;
    --white-black-font-color: #{$white};
    --bg-dots-image: url(../../assets/dots-bg-dark.jpg);
    --bg-dots-color: $gray-900;

    $content-information: #c7f0ff;
    $content-running: #bbbbff;
    $content-alert: #fd7278;
    $content-warning: #f3c4a1;
    $content-success: #7cdfc4;
    #{--background-failed}: #26000233;
    #{--background-success}: #00231933;
    #{--content-information}: $content-information;
    #{--border-failed}: #ab0009;
    #{--border-information}: #1761fd;
    #{--background-information}: #0e3b9a33;
    #{--content-alert}: $content-alert;
    #{--content-success}: $content-success;
    #{--border-success}: #029e73;
    #{--chart-success}: #21ce9c;
    #{--chart-failed}: #cd38fb;
    #{--chart-warning}: #e1ba80;
    #{--chart-created}: #5bb8ff;
    #{--chart-running}: #7fbaff;
    #{--chart-killed}: #3991ff;
    #{--chart-paused}: #9a8eb4;
    #{--border-warning}: #dd5f00;
    #{--content-warning}: $content-warning;
    #{--background-warning}: #6f300033;
    #{--background-created}: #6f300033;
    #{--content-created}: #7fbaff;
    #{--border-created}: #1761fd;
    #{--border-killed}: #fce07c;
    #{--border-killing}: #918ba9;
    #{--content-killed}: #fdeaa8;
    #{--background-killed}: #7e703e33;
    #{--background-running}: #42008033;
    #{--content-running}: $content-running;
    #{--border-running}: #8405ff;
    #{--content-paused}: #ffffff;
    #{--border-paused}: #9a8eb4;
    #{--background-paused}: #a6a4ca;
    #{--log-content-trace}: #e3dbff;
    #{--log-border-trace}: #9a8eb4;
    #{--log-chart-trace}: #a6a4ca;
    #{--log-background-trace}: #d1cfe933;
    #{--log-background-info}: #7cdfc433;
    #{--log-content-info}: #7cdfc4;
    #{--log-chart-info}: #21ce9c;
    #{--log-border-info}: #02be8a;
    #{--log-background-warn}: #e5823833;
    #{--log-border-warn}: #e9985b;
    #{--log-content-warn}: #fae7da;
    #{--log-chart-warn}: #f3c4a1;
    #{--log-background-error}: #fd727833;
    #{--log-border-error}: #fd7278;
    #{--log-content-error}: #fec9cb;
    #{--log-chart-error}: #fd7278;
    #{--log-background-debug}: #5bb8ff33;
    #{--log-border-debug}: #5bb8ff;
    #{--log-content-debug}: #7fbaff;
    #{--log-chart-debug}: #3991ff;

    #{--bs-info-rgb}: to_rgb($content-information);
    #{--bs-running-rgb}: to_rgb($content-running);
    #{--bs-danger-rgb}: to_rgb($content-alert);
    #{--bs-warning-rgb}: to_rgb($content-warning);
    #{--bs-success-rgb}: to_rgb($content-success);

    .shiki, .shiki span {
        font-style: var(--shiki-dark-font-style) !important;
        font-weight: var(--shiki-dark-font-weight) !important;
        text-decoration: var(--shiki-dark-text-decoration) !important;
    }
}
