/* stylelint-disable custom-property-pattern */
/* stylelint-disable color-no-hex */
@use 'sass:map';

@import "@kestra-io/ui-libs/src/scss/theme-dark";
@import "@kestra-io/ui-libs/src/scss/variables";

// Bootstrap
@import "bootstrap/scss/functions";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/vendor/rfs";
@import "bootstrap/scss/variables";

html.dark {
    #{--bs-gray}: #{map.get($grays, "600")};
    @each $key, $value in $grays {
        --bs-gray-#{$key}: #{$value};

        @each $i in (2, 3, 5, 7, 10, 15) {
            #{--bs-gray-#{$key}-lighten-#{$i}}: #{lighten($value, $i)};
            #{--bs-gray-#{$key}-darken-#{$i}}: #{darken($value, $i)};
        }
    }

    #{--bs-card-bg}: #2F3342;
    #{--bs-heading-color}: var(--bs-white);
    #{--bs-body-color}: white;
    #{--bs-body-bg}: #1C1E27;
    #{--bs-body-background}: #1C1E27;
    #{--bs-border-color}: #404559;
    #{--bs-border-secondary-color}: #2F3342;
    #{--bs-secondary}: #E3DBFF;
    #{--bs-secondary-rgb}: to-rgb(#E3DBFF);
    #{--bs-link-color}: $secondary;
    #{--bs-link-color-rgb}: to-rgb(#BBBBFF);
    #{--bs-tertiary-color}: #C3BBE3;
    #{--bs-code-color}: #BBBBFF;

    $levels: info, running, danger, warning;
    @each $level in $levels {
        .bg-#{$level} {
            #{--bs-bg-opacity}: 0.2;
        }
    }

    #{--bs-link-hover-color-rgb}: to-rgb(#E0E0FF);

    #{--card-bg}: $card-bg;
    #{--input-bg}: #262A36;;

    --el-bg-color: var(--ks-background-body);
    --el-bg-color-page: var(--ks-background-body);
    --el-bg-color-overlay: var(--bs-gray-100-darken-5);

    --el-disabled-bg-color: var(--bs-gray-100-lighten-5);
    --el-disabled-border-color: var(--bs-border-color);

    --el-text-color-primary: var(--bs-primary);
    --el-text-color-regular: var(--ks-content-primary);
    --el-text-color-secondary: var(--bs-secondary);
    --el-text-color-placeholder: var(--ks-content-primary);
    --el-text-color-disabled: var(--bs-gray-400);

    --el-border-color: var(--bs-border-color);
    --el-border-color-light: var(--bs-border-color);
    --el-border-color-lighter: var(--bs-border-color);
    --el-border-color-extra-light: var(--bs-border-color);
    --el-border-color-dark: var(--bs-border-color);
    --el-border-color-darker: var(--bs-border-color);

    --el-fill-color: var(--bs-gray-700);
    --el-fill-color-light: var(--bs-gray-800);
    --el-fill-color-lighter: var(--bs-gray-700);
    --el-fill-color-extra-light: var(--bs-gray-400);
    --el-fill-color-dark: var(--bs-gray-800);
    --el-fill-color-darker: var(--bs-gray-900);
    --el-fill-color-blank: var(--bs-card-bg);

    --el-color-alert-primary: var(--bs-primary);
    --el-color-alert-info: #c7fdff;
    --el-color-alert-danger: #e3262f;
    --el-color-alert-error: #e3262f;
    --el-color-alert-warning: #eeaf80;
    --el-color-alert-success: #beefe2;

    #{--el-box-shadow}: $box-shadow;
    #{--el-box-shadow-light}: $box-shadow-sm;
    #{--el-box-shadow-lighter}: $box-shadow-sm;
    #{--el-box-shadow-dark}: $box-shadow-lg;

    --el-button-active-text-color: var(--ks-content-primary);

    --input-suffix-color: #C6C1D9;
    --white-black-font-color: #{$white};

    $content-information: #c7f0ff;
    $content-running: #bbbbff;
    $content-alert: #fd7278;
    $content-warning: #f3c4a1;
    $content-success: #7cdfc4;
    #{--bs-info-rgb}: to_rgb($content-information);
    #{--bs-running-rgb}: to_rgb($content-running);
    #{--bs-danger-rgb}: to_rgb($content-alert);
    #{--bs-warning-rgb}: to_rgb($content-warning);
    #{--bs-success-rgb}: to_rgb($content-success);

    .shiki, .shiki span {
        font-style: var(--shiki-dark-font-style) !important;
        font-weight: var(--shiki-dark-font-weight) !important;
        text-decoration: var(--shiki-dark-text-decoration) !important;
    }
}
