@use 'sass:map';
@import "../theme-dark";
@import "../variable";

// Bootstrap
@import "bootstrap/scss/functions";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/vendor/rfs";
@import "bootstrap/scss/variables";

html.dark {
    #{--bs-gray}: #{map.get($grays, "600")};
    @each $key, $value in $grays {
        --bs-gray-#{$key}: #{$value};

        @each $i in (2, 3, 5, 7, 10, 15) {
            #{--bs-gray-#{$key}-lighten-#{$i}}: #{lighten($value, $i)};
            #{--bs-gray-#{$key}-darken-#{$i}}: #{darken($value, $i)};
        }
    }

    #{--bs-body-color}: $body-color;
    #{--bs-body-bg}: $body-bg;
    #{--bs-border-color}: $border-color;
    #{--bs-link-color}: $secondary;
    --bs-link-hover-color: #D0CDF9;
    #{--card-bg}: $card-bg;
    #{--input-bg}: $input-bg;

    --el-bg-color: var(--bs-body-bg);
    --el-bg-color-page: var(--bs-body-bg);
    --el-bg-color-overlay: var(--bs-gray-100-darken-5);

    --el-disabled-bg-color: var(--bs-gray-100-lighten-5);
    --el-disabled-border-color: var(--bs-border-color);

    --el-text-color-primary: var(--bs-primary);
    --el-text-color-regular: var(--bs-body-color);
    --el-text-color-secondary: var(--bs-secondary);
    --el-text-color-placeholder: var(--bs-gray-800);
    --el-text-color-disabled: var(--bs-gray-400);

    --el-border-color: var(--bs-border-color);
    --el-border-color-light: var(--bs-border-color);
    --el-border-color-lighter: var(--bs-border-color);
    --el-border-color-extra-light: var(--bs-border-color);
    --el-border-color-dark: var(--bs-border-color);
    --el-border-color-darker: var(--bs-border-color);

    --el-fill-color: var(--bs-gray-700);
    --el-fill-color-light: var(--bs-gray-800);
    --el-fill-color-lighter: var(--bs-gray-700);
    --el-fill-color-extra-light: var(--bs-gray-400);
    --el-fill-color-dark: var(--bs-gray-800);
    --el-fill-color-darker: var(--bs-gray-900);
    --el-fill-color-blank: var(--bs-card-bg);

    #{--el-box-shadow}: $box-shadow;
    #{--el-box-shadow-light}: $box-shadow-sm;
    #{--el-box-shadow-lighter}: $box-shadow-sm;
    #{--el-box-shadow-dark}: $box-shadow-lg;

    --el-button-active-text-color: var(--bs-body-color);
}
