@import "@kestra-io/ui-libs/src/scss/variables.scss";

#app {
    .v-step {
        border: var(--bs-primary);
        padding: var(--spacer);
        background-color: var(--bs-white);
        border: 1px solid var(--bs-secondary);
        .el-row {
            margin-bottom: calc( var(--spacer) /2);
        }

        html.dark & {
            background-color: var(--el-bg-color);
        }
    }


    .large-v-step {
        max-width: 500px;
        font-size: var(--font-size-base);
    }

    .v-step-title {
        margin-bottom: var(--spacer);
        font-weight: var(--fw-bold);
        font-size: var(--font-size-lg);
        line-height: var(--line-height-lg);
        text-align: center;
        color: var(--bs-primary);

        html.dark & {
            color: var(--bs-white);
        }
    }

    .v-step-indicator {
        margin-bottom: var(--spacer);
        width: fit-content;
        padding: calc(var(--spacer)/8) calc(var(--spacer)/2);
        border-radius: var(--el-border-radius-base);
        background: $indigo;
    }

    .v-step__content {
        font-size: var(--font-size-sm);
        text-align: center;
        border: none;
        color: var(--bs-gray-700);
        background-color: var(--bs-white);
        margin-bottom: var(--spacer);

        html.dark & {
            background-color: var(--el-bg-color);
        }
    }

    #guided-right {
        // tricks to stick VStep on the right
        position: absolute;
        top: 40px;
        right: 50px;
        height: 50vh;
        width: 10px;
        visibility: hidden;
    }

    .v-step__arrow:before {
        visibility: hidden;
    }
}

.v-tour__target--highlighted {
    box-shadow: 0px 19px 44px rgba(157, 29, 236, 0.31) !important;
}
