/* black */
$base-black: #14181f;

/* blue */
$base-blue-25: #f7faff;
$base-blue-50: #eff4ff;
$base-blue-100: #dbe0ff;
$base-blue-200: #a9b5fe;
$base-blue-300: #718bfe;
$base-blue-400: #4f6df7;
$base-blue-500: #1761fd;
$base-blue-600: #0542b6;
$base-blue-700: #033083;
$base-blue-800: #022670;
$base-blue-900: #011950;
$base-blue-950: #000d35;
$base-blue-1000: #00071b;

/* gray */
$base-gray-25: #f8f8f9;
$base-gray-50: #f1f1f3;
$base-gray-100: #ecebef;
$base-gray-200: #cfd3d6;
$base-gray-300: #9797a6;
$base-gray-400: #404559;
$base-gray-500: #2f3342;
$base-gray-600: #2c303f;
$base-gray-700: #262a35;
$base-gray-800: #20232d;
$base-gray-900: #1e202a;
$base-gray-950: #14181f;
$base-gray-1000: #080a0c;

/* gray-neutral */
$base-gray-neutral-25: #fcfcfd;
$base-gray-neutral-50: #f9f9fb;
$base-gray-neutral-100: #ededf3;
$base-gray-neutral-200: #9897a6;
$base-gray-neutral-300: #8e8d9c;
$base-gray-neutral-400: #6c6b78;
$base-gray-neutral-500: #5e5d6c;
$base-gray-neutral-600: #332f3c;
$base-gray-neutral-700: #232230;
$base-gray-neutral-800: #1c1b28;
$base-gray-neutral-900: #10101a;
$base-gray-neutral-950: #0b0b14;
$base-gray-neutral-1000: #040406;
$base-gray-neutral-black: #05081a;

/* green */
$base-green-25: #f6fffa;
$base-green-50: #ecfff5;
$base-green-100: #bffddd;
$base-green-200: #80fac5;
$base-green-300: #43f6b6;
$base-green-400: #06f0b1;
$base-green-500: #15b983;
$base-green-600: #1e875e;
$base-green-700: #215d42;
$base-green-800: #194530;
$base-green-900: #102d1f;
$base-green-950: #08170f;
$base-green-1000: #040c08;

/* orange */
$base-orange-25: #fffbf9;
$base-orange-50: #fff7f3;
$base-orange-100: #ffede9;
$base-orange-200: #ffc5b7;
$base-orange-300: #ff8b61;
$base-orange-400: #ff6e2e;
$base-orange-500: #f95800;
$base-orange-600: #dd5f00;
$base-orange-700: #a44500;
$base-orange-800: #6e2c00;
$base-orange-900: #4d1f00;
$base-orange-950: #3d1500;
$base-orange-1000: #1f0b00;

/* primary */
$base-primary-25: #fcfaff;
$base-primary-50: #f9f5ff;
$base-primary-100: #eee7fe;
$base-primary-200: #cdb6fb;
$base-primary-300: #9869f7;
$base-primary-400: #7738f5;
$base-primary-500: #631bf3;
$base-primary-600: #5212d6;
$base-primary-700: #440ab8;
$base-primary-800: #340887;
$base-primary-900: #22055c;
$base-primary-950: #150338;
$base-primary-1000: #0b021c;

/* purple */
$base-purple-25: #f0f0ff;
$base-purple-50: #e0e0ff;
$base-purple-100: #bbbbff;
$base-purple-200: #a396ff;
$base-purple-300: #9470ff;
$base-purple-400: #8c4bff;
$base-purple-500: #8405ff;
$base-purple-600: #7400df;
$base-purple-700: #6300bf;
$base-purple-800: #53009f;
$base-purple-900: #420080;
$base-purple-1000: #210040;

/* red */
$base-red-25: #fffafa;
$base-red-50: #fff5f5;
$base-red-100: #ffe3e3;
$base-red-200: #ffacac;
$base-red-300: #ff6a6c;
$base-red-400: #f73a3d;
$base-red-500: #ed0011;
$base-red-600: #ab0009;
$base-red-700: #870006;
$base-red-800: #6d0003;
$base-red-900: #500002;
$base-red-950: #350001;
$base-red-1000: #1b0001;

/* white */
$base-white: #ffffff;

/* yellow */
$base-yellow-25: #fffef5;
$base-yellow-50: #fffceb;
$base-yellow-100: #fff7c2;
$base-yellow-200: #fdee99;
$base-yellow-300: #fce070;
$base-yellow-400: #f7c948;
$base-yellow-500: #f0b429;
$base-yellow-600: #de911d;
$base-yellow-700: #cb6e17;
$base-yellow-800: #8d4b10;
$base-yellow-900: #5c3209;
$base-yellow-950: #2e1904;
$base-yellow-1000: #170d02;
