@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src:
        local('Inter'),
        local('InterVar'),
        url('../fonts/inter/Inter-VF.woff2') format('woff2-variations'),
        url('../fonts/inter/Inter-VF.woff2') format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Inter';
    font-style: italic;
    font-weight: 100 900;
    font-display: swap;
    src:
        local('Inter'),
        local('InterVar'),
        url('../fonts/inter/Inter-Italic-VF.woff2') format('woff2-variations'),
        url('../fonts/inter/Inter-Italic-VF.woff2') format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 100 800;
  font-display: swap;
  src:
    local('JetBrains Mono'),
    local('JetBrainsMono'),
    url('../fonts/jetbrains-mono/JetBrainsMono-VF.woff2') format('woff2-variations'),
    url('../fonts/jetbrains-mono/JetBrainsMono-VF.woff2') format('woff2');
}
