@use "color-palette" as palette;

// font family
$font-family-sans-serif: "Inter", sans-serif;
$font-family-monospace: "JetBrains Mono", monospace;

// font sizes
$font-size-base-px: 14px;
$font-size-base: 1rem; // This represents 14px
$font-size-2xs: calc(10 / 14) * $font-size-base;
$font-size-xs:  calc(11 / 14) * $font-size-base;
$font-size-sm:  calc(12 / 14) * $font-size-base;
$font-size-md:  $font-size-base;
$font-size-lg:  calc(16 / 14) * $font-size-base;
$font-size-xl:  calc(18 / 14) * $font-size-base;
$font-size-2xl: calc(20 / 14) * $font-size-base;
$font-size-3xl: calc(22 / 14) * $font-size-base;
$font-size-4xl: calc(26 / 14) * $font-size-base;

// base colors
$black: #14181f;
$white: #ffffff;

// shadow
$box-shadow: 0 .5rem 1rem rgba($black, .15);
$box-shadow-sm: 0 .125rem .25rem rgba($black, .075);
$box-shadow-lg: 0 1rem 3rem rgba($black, .175);

$gray-dark-50:  #14181f;
$gray-dark-100: #1C1E27;
$gray-dark-200: #21242E;
$gray-dark-300: #202435;
$gray-dark-400: #2C303F;
$gray-dark-500: #2F3342;
$gray-dark-600: #404559;
$gray-dark-700: #918BA9;
$gray-dark-800: #A69FC1;
$gray-dark-900: #CAC5DA;
$gray-dark-950: #f9f9fa;

$colors: (
    'primary': palette.$base-primary-500,
    'success': palette.$base-green-500,
    'warning': palette.$base-orange-500,
    'danger': palette.$base-red-500,
    'error': palette.$base-red-500,
    'info': palette.$base-blue-500,
);

// border radius
$border-radius: 0.5rem !default;
$border-radius-lg: 0.625rem !default;
$border-radius-sm: 0.375rem !default;
$border-radius-xs: 0.25rem !default;
