// gray
$gray-900: #CAC5DA;
$gray-800: #A69FC1;
$gray-700: #918BA9;
$gray-600: #404559;
$gray-500: #2F3342;
$gray-400: #2C303F;
$gray-300: #202435;
$gray-200: #21242E;
$gray-100: #1C1E27;

$light: $gray-200;
$dark: $gray-100;

// body
$body-color: $gray-900;
$border-color: $gray-600;
$body-bg: $gray-200;
$card-bg: $gray-500;
$input-bg: $gray-100;



/*
$gray-900: #d6e2f3;
$gray-800: #d0d7e0;
$gray-700: #c1c1d8;
$gray-600: #7c89ad;
$gray-500: #7989b4;
$gray-400: #5f72b1;
$gray-300: #283456;
$gray-200: #292e40;
$gray-100: #202331;

$border-color: $gray-200;
$body-bg: #1b1e2a;
$card-bg: #222635;
 */