// color system
$blue: #1761fd;
$indigo: #6610f2;
$purple: #6d81f5;
$pink: #fd3c97;
$red: #f5325c;
$orange: #ff8500;
$yellow: #ffb822;
$green: #22b783;
$teal: #03d87f;
$cyan: #12a4ed;

// primary color
$primary: #192A4E;
$secondary: #4F83A5;
$tertiary: #9EBFD5;

// gray
$white: #FFF;
$gray-100: #f8f8fc;
$gray-200: #f1f5fa;
$gray-300: #eaf0f9;
$gray-400: #b6c2e4;
$gray-500: #8997bd;
$gray-600: #7081b9;
$gray-700: #303e67;
$gray-800: #2c3652;
$gray-900: #1d2c48;
$black: #000;

$light: $gray-200;
$dark: $gray-900;

// fonts
$font-size-base: 1rem;
$font-family-sans-serif: "Ubuntu", -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$font-family-monospace: 'Source Code Pro', SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
$font-size-xs: $font-size-base * 0.75;

// border radius
$border-radius: 0.25rem;
$border-radius-lg: 0.5rem;
$border-radius-sm: 0.15rem;

// layout
$menu-width: 268px;
$spacer: 1rem;

// body
$body-color: $gray-700;
$border-color: $gray-300;
$body-bg: $gray-100;
$card-bg: $white;

$link-color: $cyan;

// border radius
$border-radius: .25rem;
$border-radius-sm: .15rem;

// shadow
$box-shadow-sm: 0 .125rem .25rem rgba($black, .075);
$box-shadow: 0 .5rem 1rem rgba($black, .15);
$box-shadow-lg: 0 1rem 3rem rgba($black, .175);

// bootstrap
@import "bootstrap/scss/functions";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/vendor/rfs";
@import 'bootstrap/scss/variables';
