.material-design-icon.icon-2x {
  height: 2em;
  width: 2em;
}

.material-design-icon.icon-2x > .material-design-icon__svg {
  height: 2em;
  width: 2em;
}

.material-design-icon.icon-3x {
  height: 3em;
  width: 3em;
}

.material-design-icon.icon-3x > .material-design-icon__svg {
  height: 3em;
  width: 3em;
}
