@use "variable" as global-var;
@use 'element-plus/theme-chalk/src/mixins/mixins' as mixin;

// element-plus
@use "layout/element-plus-overload";

// layout
@use "layout/root";
@use "layout/root-dark";
@use "layout/html-tag" as *;

// components
@use "layout/charts";
@use "components/vue-material-design-icon";
@use "components/vue-nprogress" with (
    $indigo: global-var.$indigo
);
@use "components/vue-flow"  with (
    $cyan: global-var.$cyan,
    $indigo: global-var.$purple
);

// main layout
main {
    padding-right: var(--spacer);
    padding-left: var(--spacer);
    margin-right: auto;
    margin-left: auto;

    padding-top: var(--spacer);
    padding-bottom: 86px !important;
    transition: all 0.3s ease;

    &.menu-collapsed {
        padding-left: 80px;
    }

    &.menu-not-collapsed {
        padding-left: calc(var(--menu-width) + var(--spacer));

        @include mixin.res(lg) {
            padding-left: calc(var(--menu-width) + (var(--spacer) * 4));
            padding-right: calc(var(--spacer) * 4);
        }
    }
}