/* System color - Default_LIGHT */
$base-color-palette-neutral-white: rgba(255, 255, 255, 1);
$base-color-palette-neutral-gray-50: rgba(249, 250, 251, 1);
$base-color-palette-neutral-gray-100: rgba(241, 245, 249, 1);
$base-color-palette-neutral-gray-200: rgba(226, 232, 240, 1);
$base-color-palette-neutral-gray-300: rgba(203, 213, 225, 1);
$base-color-palette-neutral-gray-400: rgba(148, 163, 184, 1);
$base-color-palette-neutral-gray-500: rgba(100, 116, 139, 1);
$base-color-palette-neutral-gray-600: rgba(71, 85, 105, 1);
$base-color-palette-neutral-gray-700: rgba(71, 85, 105, 1);
$base-color-palette-neutral-gray-800: rgba(30, 41, 59, 1);
$base-color-palette-neutral-gray-900: rgba(15, 23, 42, 1);

// Couleur neutral
$base-color-palette-neutral-gray-50: rgba(23, 26, 35, 1);
$base-color-palette-neutral-gray-100: rgba(28, 30, 39, 1);
$base-color-palette-neutral-gray-200: rgba(33, 36, 46, 1);
$base-color-palette-neutral-gray-300: rgba(38, 42, 54, 1);
$base-color-palette-neutral-gray-400: rgba(44, 48, 63, 1);
$base-color-palette-neutral-gray-500: rgba(47, 51, 66, 1);
$base-color-palette-neutral-gray-600: rgba(64, 69, 89, 1);
$base-color-palette-neutral-gray-700: rgba(145, 139, 169, 1);
$base-color-palette-neutral-gray-800: rgba(195, 187, 227, 1);
$base-color-palette-neutral-gray-900: rgba(227, 219, 255, 1);

$base-color-palette-neutral-black: rgba(2, 8, 23, 1);
$base-color-palette-primary-primary-50: rgba(224, 224, 255, 1);
$base-color-palette-primary-primary-100: rgba(187, 187, 255, 1);
$base-color-palette-primary-primary-200: rgba(163, 150, 255, 1);
$base-color-palette-primary-primary-300: rgba(148, 112, 255, 1);
$base-color-palette-primary-primary-400: rgba(140, 75, 255, 1);
$base-color-palette-primary-primary-500: rgba(132, 5, 255, 1);
$base-color-palette-primary-primary-600: rgba(116, 0, 223, 1);
$base-color-palette-primary-primary-700: rgba(99, 0, 191, 1);
$base-color-palette-primary-primary-800: rgba(83, 0, 159, 1);
$base-color-palette-primary-primary-900: rgba(66, 0, 128, 1);
$base-color-palette-green-green-50: rgba(228, 249, 243, 1);
$base-color-palette-green-green-100: rgba(190, 239, 226, 1);
$base-color-palette-green-green-200: rgba(124, 223, 196, 1);
$base-color-palette-green-green-300: rgba(33, 206, 156, 1);
$base-color-palette-green-green-400: rgba(2, 190, 138, 1);
$base-color-palette-green-green-500: rgba(2, 158, 115, 1);
$base-color-palette-green-green-600: rgba(1, 127, 92, 1);
$base-color-palette-green-green-700: rgba(1, 96, 70, 1);
$base-color-palette-green-green-800: rgba(1, 66, 48, 1);
$base-color-palette-green-green-900: rgba(0, 35, 25, 1);
$base-color-palette-red-red-50: rgba(255, 242, 243, 1);
$base-color-palette-red-red-100: rgba(254, 201, 203, 1);
$base-color-palette-red-red-200: rgba(253, 146, 151, 1);
$base-color-palette-red-red-300: rgba(253, 114, 120, 1);
$base-color-palette-red-red-400: rgba(227, 38, 47, 1);
$base-color-palette-red-red-500: rgba(171, 0, 9, 1);
$base-color-palette-red-red-600: rgba(135, 0, 7, 1);
$base-color-palette-red-red-700: rgba(90, 0, 5, 1);
$base-color-palette-red-red-800: rgba(71, 0, 4, 1);
$base-color-palette-red-red-900: rgba(38, 0, 2, 1);
$base-color-palette-yellow-yellow-50: rgba(255, 251, 239, 1);
$base-color-palette-yellow-yellow-100: rgba(253, 237, 179, 1);
$base-color-palette-yellow-yellow-200: rgba(253, 234, 168, 1);
$base-color-palette-yellow-yellow-300: rgba(253, 232, 157, 1);
$base-color-palette-yellow-yellow-400: rgba(253, 229, 146, 1);
$base-color-palette-yellow-yellow-500: rgba(252, 224, 124, 1);
$base-color-palette-yellow-yellow-600: rgba(221, 196, 109, 1);
$base-color-palette-yellow-yellow-700: rgba(189, 168, 93, 1);
$base-color-palette-yellow-yellow-800: rgba(158, 140, 78, 1);
$base-color-palette-yellow-yellow-900: rgba(126, 112, 62, 1);
$base-color-palette-blue-blue-50: rgba(199, 240, 255, 1);
$base-color-palette-blue-blue-100: rgba(162, 205, 255, 1);
$base-color-palette-blue-blue-200: rgba(127, 187, 255, 1);
$base-color-palette-blue-blue-300: rgba(91, 184, 255, 1);
$base-color-palette-blue-blue-400: rgba(57, 145, 255, 1);
$base-color-palette-blue-blue-500: rgba(23, 97, 253, 1);
$base-color-palette-blue-blue-600: rgba(19, 78, 204, 1);
$base-color-palette-blue-blue-700: rgba(14, 59, 154, 1);
$base-color-palette-blue-blue-800: rgba(10, 40, 105, 1);
$base-color-palette-blue-blue-900: rgba(5, 21, 56, 1);
$base-color-palette-orange-orange-50: rgba(255, 242, 234, 1);
$base-color-palette-orange-orange-100: rgba(243, 196, 161, 1);
$base-color-palette-orange-orange-200: rgba(238, 174, 126, 1);
$base-color-palette-orange-orange-300: rgba(233, 152, 91, 1);
$base-color-palette-orange-orange-400: rgba(229, 130, 56, 1);
$base-color-palette-orange-orange-500: rgba(221, 95, 0, 1);
$base-color-palette-orange-orange-600: rgba(193, 83, 0, 1);
$base-color-palette-orange-orange-700: rgba(166, 71, 0, 1);
$base-color-palette-orange-orange-800: rgba(138, 59, 0, 1);
$base-color-palette-orange-orange-900: rgba(111, 48, 0, 1);