$base-gray-100: #ecebef;
$base-gray-200: #ecebef;
$base-gray-300: #9797a6;
$base-gray-400: #404559;
$base-gray-500: #2f3342;
$base-gray-600: #2c303f;
$base-gray-700: #21242e;
$base-gray-800: #21242e;
$base-gray-900: #1c1e27;
$base-black: #060709;
$base-white: #ffffff;
$base-gray-50: #f7f7f8;
$base-gray-950: #060709;
$base-purple-100: #bbbbff;
$base-purple-200: #a396ff;
$base-purple-300: #9470ff;
$base-purple-400: #8c4bff;
$base-purple-500: #8405ff;
$base-purple-600: #7400df;
$base-purple-700: #6300bf;
$base-purple-800: #53009f;
$base-purple-900: #420080;
$base-purple-50: #e0e0ff;
$base-green-500: #029e73;
$base-green-300: #21ce9c;
$base-green-50: #e4f9f3;
$base-green-100: #beefe2;
$base-green-200: #7cdfc4;
$base-green-400: #02be8a;
$base-green-600: #017f5c;
$base-green-700: #016046;
$base-green-800: #014230;
$base-green-900: #002319;
$base-yellow-50: #fffbef;
$base-yellow-100: #fdedb3;
$base-yellow-200: #fdeaa8;
$base-yellow-300: #fde89d;
$base-yellow-400: #fde592;
$base-yellow-500: #fce07c;
$base-yellow-600: #ddc46d;
$base-yellow-700: #bda85d;
$base-yellow-800: #9e8c4e;
$base-yellow-900: #7e703e;
$base-red-500: #ab0009;
$base-red-400: #e3262f;
$base-red-300: #fd7278;
$base-red-200: #fd9297;
$base-red-100: #fec9cb;
$base-red-50: #fff2f3;
$base-red-600: #870007;
$base-red-700: #5a0005;
$base-red-800: #470004;
$base-red-900: #260002;
$base-blue-50: #c7f0ff;
$base-blue-100: #a2cdff;
$base-blue-200: #7fbbff;
$base-blue-300: #5bb8ff;
$base-blue-400: #3991ff;
$base-blue-500: #1761fd;
$base-blue-600: #134ecc;
$base-blue-700: #0e3b9a;
$base-blue-800: #0a2869;
$base-blue-900: #051538;
$base-orange-50: #fff2ea;
$base-orange-100: #f3c4a1;
$base-orange-200: #eeae7e;
$base-orange-300: #e9985b;
$base-orange-400: #e58238;
$base-orange-500: #dd5f00;
$base-orange-600: #c15300;
$base-orange-700: #a64700;
$base-orange-800: #8a3b00;
$base-orange-900: #6f3000;