
@font-face {
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url('../assets/fonts/public-sans-300.ttf') format('truetype');
}
@font-face {
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('../assets/fonts/public-sans-400.ttf') format('truetype');
}
@font-face {
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('../assets/fonts/public-sans-700.ttf') format('truetype');
}
@font-face {
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src: url('../assets/fonts/public-sans-800.ttf') format('truetype');
}
@font-face {
    font-family: 'Source Code Pro';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('../assets/fonts/source-code-pro-400.ttf') format('truetype');
}
@font-face {
    font-family: 'Source Code Pro';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('../assets/fonts/source-code-pro-700.ttf') format('truetype');
}
@font-face {
    font-family: 'Source Code Pro';
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src: url('../assets/fonts/source-code-pro-800.ttf') format('truetype');
}
