$theme-name: "theme-dark";

$white: #FFF;
$white-always: #FFF;
$gray-900: #d6e2f3;
$gray-800: #d0d7e0;
$gray-700: #c1c1d8;
$gray-600: #7c89ad;
$gray-500: #7989b4;
$gray-400: #5f72b1;
$gray-300: #283456;
$gray-200: #292e40;
$gray-100: #202331;
$black: #000;
$black-always: #000;


$primary: #192A4E;
$secondary: #4F83A5;
$tertiary: #9EBFD5;

$light: $gray-200;
$light-always: $gray-800;
$dark: $gray-100;
$dark-always: $gray-100;

$yiq-contrasted-threshold: 0;

// Body
$body-bg: #1b1e2a;
$border-color: $gray-200;

// Cards
$card-bg: #222635;

// Tables
$table-bg: $card-bg;
$table-head-bg: darken($table-bg, 5%);

// Forms
$input-bg: darken($table-bg, 7%);

// Dropown
$dropdown-bg: $dark !default;

// sidebar
$base-bg: darken($table-bg, 7%);

// modals
$modal-content-bg: $body-bg;

@import "./theme-light";

.form-control {
    &:disabled,
    &[readonly] {
        color: $text-muted;
    }
}

// Tabs
ul.nav-tabs {
    .nav-link {
        color: $tertiary;

        a {
            color: $tertiary;
        }

        &.active,
        &:hover.active {
            color: $secondary;
            border-bottom-color: $secondary;

            a {
                color: $secondary;
            }
        }

        &:hover {
            border-bottom-color: $tertiary;
        }
    }
}

.alert-light {
    border-color: $gray-300;
}
